<%--
 * $Id: EntityCollection.cst,v 1.2 2005/11/17 14:03:54 jroland Exp $
 * Last modified by $Author$
 * Last modified at $Date$
 * $Revision$
--%>
<%@ CodeTemplate Language="C#" TargetLanguage="C#" Description="Generate BusinessObject Colelction." %>

<%@ Property Name="NameSpace" Type="System.String" Category="Data" Description="Object Namespace." %>	
<%@ Property Name="ClassName" Type="System.String" Default="Sample" Category="Options" Description="Class Name." %>
<%@ Property Name="CollectionClassName" Type="System.String" Default="Sample" Category="Options" Description="Collection Class Name." %>
<%@ Property Name="AbstractCollectionClassName" Type="System.String" Default="Sample" Category="Options" Description="Abstract Collection Class Name." %>
<%@ Property Name="UsePartialClass" Type="System.Boolean" Default="true" Category="General" Description="Indicates if partial class should be generated." %>

using System;
using System.Runtime.Serialization;
using System.Xml.Serialization;

namespace <%=NameSpace%>
{
	///<summary>
	/// This class is a strong typed collection of <see cref="<%=ClassName%>"/> objects that inherits from the <see cref="<%=AbstractCollectionClassName%>"/> class.
	///</summary>
	/// <remark>
	///	This class contains specfic implementations that are not part of the CsTemplates framework.
	/// </remark>
	<% if (!UsePartialClass) { Response.Write("[Serializable]"); } %>
	public <% if (UsePartialClass) Response.Write("partial "); %>class <%=CollectionClassName%><% if (!UsePartialClass) Response.Write(string.Format(" : {0}",AbstractCollectionClassName));%>
	{
		<% if (!UsePartialClass) {%>
		///<summary>
		/// Initializes a new instance of the <see cref="<%=CollectionClassName%>"/> class.
		///</summary>
		public <%=CollectionClassName%>()
		{
		}
		

		/// <summary>
		/// Initializes a new instance of the <see cref="<%=CollectionClassName%>"/> class.
		/// </summary>
		/// <param name="info">The <see cref="SerializationInfo"/> that holds the serialized object data about the exception being thrown.</param>
		/// <param name="context">The <see cref="StreamingContext"/> that contains contextual information about the source or destination.</param>
		protected <%=CollectionClassName%>(SerializationInfo info, StreamingContext context) : base(info, context)
		{	
		}
		<% } // end of the "if (!UsePartialClass)" %>
	}
}