<%--
 * $Id: OneToOneViewRelationship.cst,v 1.0 2006/03/19 10:00:00 bdiaz Exp $
 * Last modified by $Author: bdiaz $
 * Last modified at $Date: 2006-03-19 10:00:00 -0600 (Sun, 19 Mar 2006) $
 * $Revision: 1 $
--%>
<%@ CodeTemplate Language="C#" TargetLanguage="C#" Src="" Inherits="" Debug="False" Description="Generates the specified class." ResponseEncoding="UTF-8"  NoWarn="0108,0618,1572,1573,1574,0162,2002" %>

<%@ Property Name="BLLNameSpace" Optional="False" Type="System.String" Category="Style" Description="BLL Namespace." %>
<%@ Property Name="DALNameSpace" Optional="False" Type="System.String" Category="Style" Description="DAL Namespace." %>
<%@ Property Name="WebNameSpace" Optional="False" Type="System.String" Category="Style" Description="Web Namespace." %>

<%@ Assembly Name="System.Data" %>
<%@ Import Namespace="System.Data" %>
#region Using Directives
using System;
using System.Data;
using System.Collections;
using System.Configuration;
using System.Web;
using System.Web.Security;
using System.Web.UI;
using System.Web.UI.WebControls;
using System.Web.UI.WebControls.WebParts;
using System.Web.UI.HtmlControls;
using <%= BLLNameSpace %>;
#endregion

namespace <%= WebNameSpace %>.Data
{
	/// <summary>
	/// Provides management of a one-to-one relationship
	/// between two business objects.
	/// </summary>
	public class OneToOneViewRelationship : EntityRelationship
	{
		/// <summary>
		/// Initializes a new instance of the OneToOneViewRelationship class.
		/// </summary>
		public OneToOneViewRelationship()
		{
		}

		/// <summary>
		/// Initializes and updates the control with the relationships
		/// held within the specified business object.
		/// </summary>
		/// <param name="entity"></param>
		protected override void UpdateControl(Object entity)
		{
			// Not needed as the configured view control should handle
			// updating the user interface for this relationship.
		}

		/// <summary>
		/// Updates the specified business object with values bound to the
		/// control which represent the current relationships.
		/// </summary>
		/// <param name="entity"></param>
		protected override void UpdateRelationships(Object entity)
		{
			FormView formView = ReferenceMember.ViewControl as FormView;

			if ( formView != null )
			{
				if ( formView.CurrentMode == FormViewMode.Insert )
				{
					if ( !String.IsNullOrEmpty(ReferenceMember.ForeignKeyName) )
					{
						object value = EntityUtil.GetPropertyValue(PrimaryMember.CurrentEntity, PrimaryMember.EntityKeyName);

						formView.ItemInserting += new FormViewInsertEventHandler(delegate(object sender, FormViewInsertEventArgs e)
						{
							e.Values[ReferenceMember.ForeignKeyName] = value;
						});
					}

					// force the FormView object to call Insert
					formView.InsertItem(true);
				}
				else if ( formView.CurrentMode == FormViewMode.Edit )
				{
					// force the FormView object to call Update
					formView.UpdateItem(true);
				}
			}
		}
	}
}
