<%@ CodeTemplate Language="C#" TargetLanguage="Xml" Description="Configuration file for the datalayer" Debug="true" %>
<%@ Property Name="Url" Type="System.String" Category="Data" Description="Url of the webservice." Optional="True"%>
<%@ Property Name="DefaultProvider" Type="System.String" Category="Data" Description="full type name of the default provider." Optional="False"%>
<?xml version="1.0" encoding="utf-8"?>
<netTiersConfigData>
  <xmlSerializerSection type="NetTiers.Configuration.NetTiersSettings, NetTiers.Configuration, Version=1.1.0.0, Culture=neutral, PublicKeyToken=null">
    <enterpriseLibrary.netTiersSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" defaultDataProvider="Sql data provider instance" cacheManagerName="Cache Manager" xmlns="http://www.nettiers.com/enterpriselibrary/03-28-2005/nettiers">
     <dataProviders>
        <dataProvider xsi:type="SqlDataProviderData" name="Sql data provider instance" databaseInstanceName="Database Instance">
        	<useStoredProcedure>false</useStoredProcedure>			
        </dataProvider>
      </dataProviders>
    </enterpriseLibrary.netTiersSettings>
  </xmlSerializerSection>
</netTiersConfigData>