body
{
	font-family: verdana;
	font-size:x-small;
	background-color: #FFFFFF;

}
a
{
	color: navy;
}
a:hover
{
	color: blue;
}
h1
{
	color:green;
}
h2
{
	color:blue;
}
table
{
	font-size:x-small;
}
.code
{
	font-family:"Lucida Console", "Courier New", Courier;
	font-size:small;
	background-color: #DDDDDD;
	width: 100%;
	border: 2px dashed #000000;
	margin: 1pt;
	padding: 4pt;
}
.codeCopy {
	width: 600px;
	border-left-width: thin;
	border-left-style: solid;
	border-left-color: #000000;
	padding-left: 8pt;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 3px;
	vertical-align: top;
}
.aspectDef {
	font-family:"Lucida Console", "Courier New", Courier;
	font-size:small;
	background-color: #F9F9F9;
	width: 100%;
	border: 1px solid #333333;
	margin: 1pt;
	padding: 4pt;
	color: #003366;

}
.aheader {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: medium;
	color: #333333;
	border-left-width: 1px;
	border-left-style: dotted;
	border-left-color: #000033;
	margin: 3px;
	padding: 3px;
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #000033;
	background-color: #F5F5F5;
}

pre.highlight, samp.highlight , code.highlight
{
border: 1px black solid;
background-color: #ffffef;
width: 600px;
}

em
{
font-color: red;
font-weight:bold;
}

p.overview
{
	border: 1px #3366cc solid;
	background: #e5ecf9;
	padding: 4px;
}

p.announcements
{
	border: 1px orange dashed;
	background: #ffffdf;
	padding: 4px;
}