<%--
 * $Id: ITransactionManager.cst,v 1.1 2007/11/16 08:00:00 swin66 Exp $
 * Last modified by $Author:  swin66 $
 * Last modified at $Date: 2007-11-15 08:00:08 -0600 (Thu, 15 Nov 2007) $
 * $Revision: 01 $
 --%>
<%@ CodeTemplate Language="C#" TargetLanguage="C#" Description="" ResponseEncoding="UTF-8"  NoWarn="0108,0618,1572,1573,1574,0162,2002"%>
<%@ Property Name="DALNameSpace" Type="System.String" Category="Data" Description="Project Namespace." %>

#region Using directives
using System;
using System.Data;
using System.Data.Common;

using System.Diagnostics;
using Microsoft.Practices.EnterpriseLibrary.Data;
using Microsoft.Practices.EnterpriseLibrary.Data.Sql;
#endregion Using directives

namespace <%=DALNameSpace%>
{
	/// <summary>
	/// TransactionManager interface
	/// </summary>
    public interface ITransactionManager
    {
        void BeginTransaction();
        void BeginTransaction( IsolationLevel isolationLevel );
        void Commit();
        string ConnectionString { get; set; }
        Database Database { get; }
        void Dispose();
        string InvariantProviderName { get; set; }
        bool IsOpen { get; }
        void Rollback();
        DbTransaction TransactionObject { get; }
    }
}
