<%--
 * $Id: EntityView.cst,v 1.1 2005/11/04 07:09:39 jroland Exp $
 * Last modified by $Author$
 * Last modified at $Date$
 * $Revision$
--%>
<%@ CodeTemplate Language="C#" TargetLanguage="C#" Src="..\..\CommonSqlCode.cs" Inherits="MoM.Templates.CommonSqlCode" Description="Business Object template." %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="System.Design" %>
<%@ Property Name="NameSpace" Type="System.String" Category="Data" Description="Object Namespace." %>
<%@ Property Name="SourceView" Type="SchemaExplorer.ViewSchema" Category="Data" Description="View Object should be based on." %>
<%@ Property Name="UsePartialClass" Type="System.Boolean" Default="false" Category="General" Description="Indicates if partial class should be generated." %>
<%
	string className = GetClassName(SourceView.Name);
	string abstractClassName = UsePartialClass ? className : GetAbstractClassName(SourceView.Name);
%>
#region Using directives

using System;
using System.ComponentModel;
using System.Collections;
using System.Xml.Serialization;

#endregion

namespace <%=NameSpace%>
{	
	///<summary>
	/// <% if(SourceView.Description.Length == 0 ) {%>An object representation of the '<%=SourceView.Name%>' view. [No description for this table in the database]<%} else {Response.Write(GetColumnXmlComment(SourceView,1));}%>	
	///</summary>
	/// <remarks>
	/// Inherits from the <see cref="<%=abstractClassName%>"/> class.
	/// Sorting and interfaces implementations are part of the <see cref="<%=abstractClassName%>"/> class.
    /// Only custom implementations are done in this class.
    /// </remarks>
	<% if (!UsePartialClass) { %>[Serializable]<%}%>
	public <% if (UsePartialClass) Response.Write("partial "); %>class <%=className%><% if (!UsePartialClass) { %> : <%=abstractClassName%><% } %>
	{
		<% if (!UsePartialClass) { %>
		///<summary>
		/// Initializes a new instance of the <see cref="<%=className%>"/> class.
		///</summary>
		public <%=className%>() : base()
		{
		}
				
		<% } %>
	}
}
