<%@ CodeTemplate Language="C#" TargetLanguage="C#" Src="..\CommonSqlCode.cs" Inherits="MoM.Templates.CommonSqlCode" Debug="False" Description="Generates the IEntityKey type." %>
<%@ Property Name="BLLNameSpace" Optional="False" Type="System.String" Category="Style" Description="Object Namespace." %>
#region Using directives
using System.Collections;
#endregion

namespace <%= BLLNameSpace %>
{
	/// <summary>
	/// Defines a method that allows setting of property values
	/// based on the key/value pairs of an IDictionary object.
	/// </summary>
	public interface IEntityKey
	{
		/// <summary>
		/// Reads values from the supplied IDictionary object into
		/// properties of the current object.
		/// </summary>
		/// <param name="values">An IDictionary instance that contains the key/value
		/// pairs to be used as property values.</param>
		void Load(IDictionary values);
	}
}
