<%@ CodeTemplate Language="C#" TargetLanguage="C#" Src="..\TemplateLib\CommonSqlCode.cs" Inherits="MoM.Templates.CommonSqlCode" Debug="False" Description="Generates the IEntityId type." ResponseEncoding="UTF-8" %>
<%@ Property Name="BLLNameSpace" Optional="False" Type="System.String" Category="Style" Description="Object Namespace." %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="System.Design" %>
#region Using Directives
#endregion

namespace <%= BLLNameSpace %>
{
	/// <summary>
	/// Defines a common property which represents the
	/// unique identifier for a business object.
	/// </summary>
	/// <typeparam name="EntityKey">The value type or
	/// class to be used for the EntityId property.</typeparam>
	public interface IEntityId<EntityKey> : IEntity where EntityKey : IEntityKey, new()
	{
		/// <summary>
		/// Gets or sets the value of the unique identifier
		/// for the current business object.
		/// </summary>
		EntityKey EntityId { get; set; }
	}
}
