<%@ CodeTemplate Src="..\TemplateLib\CommonSqlCode.cs" Inherits="MoM.Templates.CommonSqlCode" Language="C#" TargetLanguage="C#" Description="The interface that each business object of the domain implements." ResponseEncoding="UTF-8" NoWarn="0108,0618,1572,1573,1574,0162,2002"%>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="System.Design" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Property Name="NameSpace" Optional="False" Type="System.String" Category="Style" Description="Object Namespace." %>
<%@ Property Name="BLLNameSpace" Optional="False" Type="System.String" Category="Style" Description="Object Namespace." %>
#region Using Directives
using System;
using System.Collections.Generic;
using System.Collections;
using System.Text;
using Entities = <%= BLLNameSpace %>;
#endregion

namespace <%= NameSpace %>
{
	/// <summary>
	/// Summary for <see cref="T:CList{T}"/>.
	/// </summary>
	/// <typeparam name="T"></typeparam>
    [Serializable]
    public class CList<T> : Entities.TList<T> where T : Entities.IEntity, new()
    {
		/// <summary>
		/// Initializes a new instance of the <see cref="T:CList{T}"/>.
		/// </summary>
        public CList()
            : base()
        {
        }

        /// <summary>
        /// Initializes a new instance of the <see cref="T:CList{T}"/> class based on another list.
        /// </summary>
        public CList(IList existingList)
            : base(existingList)
        {
        }
    }
}
