<%@ CodeTemplate Src="..\TemplateLib\CommonSqlCode.cs" Inherits="MoM.Templates.CommonSqlCode" Language="C#" TargetLanguage="C#" Description="The interface that each business object of the domain implements." ResponseEncoding="UTF-8" NoWarn="0108,0618,1572,1573,1574,0162,2002"%>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Assembly Name="System.Design" %>

<%@ Property Name="NameSpace" Optional="False" Type="System.String" Category="Style" Description="Object Namespace." %>
<%@ Property Name="BLLNameSpace" Optional="False" Type="System.String" Category="Style" Description="Object Namespace." %>
<%@ Property Name="DALNameSpace" Optional="False" Type="System.String" Category="Style" Description="Repository Namespace." %>
<%@ Assembly Name="SchemaExplorer" %>
#region Using Directives
using System;
using System.Collections.Generic;
using System.Collections;
using System.Data;
using System.Threading;
using System.Web;

using <%= BLLNameSpace %>;
using <%= DALNameSpace %>;
using <%= DALNameSpace %>.Bases;

#endregion 

namespace <%= NameSpace %>
{
	/// <summary>
	/// Connection Scope Interface
	/// </summary>
	public interface IConnectionScope
    {
        /// <summary>
        /// Gets or sets the connection string key.
        /// </summary>
        /// <value>The connection string key.</value>
        string ConnectionStringKey { get; set; }
        
        /// <summary>
        /// Gets or sets the data provider.
        /// </summary>
        /// <value>The data provider.</value>
        NetTiersProvider DataProvider { get; set; }
        
        /// <summary>
        /// Gets or sets the dynamic connection string.
        /// </summary>
        /// <value>The dynamic connection string.</value>
        string DynamicConnectionString { get; set; }
        
        /// <summary>
        /// Gets a value indicating whether this instance has transaction.
        /// </summary>
        /// <value>
        /// 	<c>true</c> if this instance has transaction; otherwise, <c>false</c>.
        /// </value>
        bool HasTransaction { get; }
        
        /// <summary>
        /// Gets or sets the transaction manager.
        /// </summary>
        /// <value>The transaction manager.</value>
        TransactionManager TransactionManager { get; set; }
    }
}