<%--
 * $Id: IEntity.cst,v 1.13 2006/02/27 22:09:40 bgjohnso Exp $
 * Last modified by $Author: bgjohnso $
 * Last modified at $Date: 2006/02/27 22:09:40 $
 * $Revision: 1.13 $
--%>
<%@ CodeTemplate Src="..\TemplateLib\CommonSqlCode.cs" Inherits="MoM.Templates.CommonSqlCode" Language="C#" TargetLanguage="C#" Description="The interface that each business object of the domain implements." ResponseEncoding="UTF-8" NoWarn="0108,0618,1572,1573,1574,0162,2002"%>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Assembly Name="System.Design" %>

<%@ Property Name="NameSpace" Optional="False" Type="System.String" Category="Style" Description="Object Namespace." %>
<%@ Property Name="BLLNameSpace" Optional="False" Type="System.String" Category="Style" Description="BLL Object Namespace." %>
<%@ Property Name="ValidationType" Type="MoM.Templates.ValidationType" Default="NetTiers" Category="02. Framework Generation - Optional" Description="Choice to either use .netTiers validation framework, or Enterprise Library VAB" %>
<%@ Assembly Name="SchemaExplorer" %>

using System;
using System.ComponentModel;
using System.Collections.Generic;
<% if(ValidationType == MoM.Templates.ValidationType.EntLib){%>
using Microsoft.Practices.EnterpriseLibrary.Validation;
<%}%>

using <%=BLLNameSpace%>;
using <%=BLLNameSpace%>.Validation;

namespace <%=NameSpace%>
{
	/// <summary>
	/// The class provides a notification pattern for the processor execution.
	/// </summary>
	public class ServiceResult
	{
		<% if(ValidationType == MoM.Templates.ValidationType.NetTiers){%>
		private Dictionary<ProcessorBase, BrokenRulesList>  processBrokenRuleLists;
		<%}%>
		<% if(ValidationType == MoM.Templates.ValidationType.EntLib){%>
		private Dictionary<ProcessorBase, ValidationResults>  processBrokenRuleLists;
		<%}%>
        private Dictionary<ProcessorBase, Exception> exceptionList = null;
		private List<IProcessorResult> processorResultList = null;

		/// <summary>
		///    Determines whethere the containing service, has errors.
		/// </summary>
		public virtual bool HasErrors
		{
			get
			{ 
				//unhandled exception
				if (ExceptionList.Count > 0)
					return true; 
					
				//or process just failed.
				foreach (IProcessorResult processorResult in ProcessorResultList)
				{
					if (processorResult == null || !processorResult.Result)
						return true;
				}
				return false;
			}
		}
	
		/// <summary>
		///    Provides a string of errors accumulated with a new line of delimeted errors.
		/// </summary>
		public virtual string Error
		{
			get
			{
				System.Text.StringBuilder sb = new System.Text.StringBuilder();
				
				foreach (KeyValuePair<ProcessorBase, Exception> excPair in ExceptionList)
				{
					if (excPair.Value != null)
					{
						sb.Append(excPair.Value.Message.Replace("\n", ""));
						sb.Append("\n");
					}
				}
				
				for(int i = 0; i < ProcessorResultList.Count; i++)
				{
					if (processorResultList[i] == null)
						continue;
					<% if(ValidationType == MoM.Templates.ValidationType.NetTiers){%>
					foreach(KeyValuePair<Type, BrokenRulesList> kvp in processorResultList[i].BrokenRulesLists)
					{	
						if (kvp.Value != null && kvp.Value.Count > 0)
							sb.Append(kvp.Value.ToString());
					}
					<%}%>
					<% if(ValidationType == MoM.Templates.ValidationType.EntLib){%>
					foreach(KeyValuePair<Type, ValidationResults> kvp in processorResultList[i].BrokenRulesLists)
					{	
						foreach(ValidationResult result in kvp.Value)
						{
							sb.Append(result.Message);
						}
					}
					<%}%>
				}
				
				return sb.ToString();
			}
		}
		
		/// <summary>
		///    Provides an aggregated group of BrokenRuleList for each of the executed processes.
		/// </summary>
		<% if(ValidationType == MoM.Templates.ValidationType.NetTiers){%>
		public virtual Dictionary<ProcessorBase, BrokenRulesList> ProcessBrokenRuleLists
		<%}%>
		<% if(ValidationType == MoM.Templates.ValidationType.EntLib){%>
		public virtual Dictionary<ProcessorBase, ValidationResults> ProcessBrokenRuleLists
		<%}%>
		{
			get
			{
				if ( processBrokenRuleLists == null )
				<% if(ValidationType == MoM.Templates.ValidationType.NetTiers){%>
					processBrokenRuleLists = new Dictionary<ProcessorBase, BrokenRulesList>();
				<%}%>
				<% if(ValidationType == MoM.Templates.ValidationType.EntLib){%>
					processBrokenRuleLists = new Dictionary<ProcessorBase, ValidationResults>();
				<%}%>

				return processBrokenRuleLists;
			}
		}
		
		/// <summary>
		///    Determines whethere the containing processs results that were enlisted in the service.
		/// </summary>
		public virtual List<IProcessorResult> ProcessorResultList
		{	
			get
			{
				if (processorResultList == null)
					processorResultList = new List<IProcessorResult>();
				
				return processorResultList;
			}
		}
		
		/// <summary>
		///	Provides the List of UnHandled Exceptions that occured during processing.
		/// </summary>
		///<value>A list of rules that were broken in the process</value>		
		public virtual Dictionary<ProcessorBase, Exception> ExceptionList 
		{	
			get
			{
				if(exceptionList == null)
					exceptionList = new Dictionary<ProcessorBase, Exception>();
                return exceptionList;
			}
		}
	}
}
