<%@ CodeTemplate Src="..\TemplateLib\CommonSqlCode.cs" Inherits="MoM.Templates.CommonSqlCode" Language="C#" TargetLanguage="C#" Description="An absolute base class for all nettiers objects both tables and views." ResponseEncoding="UTF-8" NoWarn="0108,0618,1572,1573,1574,0162,2002"%>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Assembly Name="System.Design" %>
<%@ Property Name="DotNetVersion" Type="MoM.Templates.DotNetFrameworkVersion" Default="v4_5" Category="02. Framework Generation - Optional" Description="Indicates the Version of Dot Net to target. Options include v2, v3 and v3.5" %>
<%@ Property Name="NameSpace" Optional="False" Type="System.String" Category="Style" Description="Object Namespace." %>
<%@ Property Name="SourceTables" Type="SchemaExplorer.TableSchemaCollection" Category="Context" Description="Tables that the stored procedures should be based on." %>
<%@ Property Name="SourceViews" Type="SchemaExplorer.ViewSchemaCollection" Category="Context" Description="Tables that the stored procedures should be based on." %>
<%@ Property Name="IncludeWCFDataAttributes" Type="System.Boolean" Default="False" Category="02. Framework Generation - Optional" Description="Indicates if the WCF attributes, [DataContract] and [DataMember], should be included on the entity classes." %>
<%@ Property Name="IncludeXmlAttributes" Type="System.Boolean" Default="False" Category="02. Framework Generation - Optional" Description="Indicates if the Xml attributes, [XmlElement(IsNullable=true)], should be included on the entity classes." %>
<%@ Property Name="SerializeEntityState" Type="System.Boolean" Default="False" Category="02. Framework Generation - Optional" Description="Indicates if the EntityState property should be included in serialization." %>
<%@ Property Name="ValidationType" Type="MoM.Templates.ValidationType" Default="NetTiers" Category="02. Framework Generation - Optional" Description="Choice to either use .netTiers validation framework, or Enterprise Library VAB" %>

<%@ Assembly Name="SchemaExplorer" %>
<%
//Get the columns that are common to all tables
ColumnSchemaCollection commonColumns = GetCommonTableColumns(SourceTables);

    %>
/*
    File generated by NetTiers templates [www.nettiers.net]
    <%
    if( IncludeGeneratedDate)
    {
    %>
    Generated on : <%=DateTime.Now.ToLongDateString()%>
    <%
    }
    %>
    Important: Do not modify this file. Edit the file NettiersBase.cs instead.
*/

#region Using Directives

using System;
using System.ComponentModel;
<% if (DotNetVersion  == MoM.Templates.DotNetFrameworkVersion.v4) {%>
using System.ComponentModel.DataAnnotations;
<%}%>

#endregion

namespace <%=NameSpace%>
{

    /// <summary>
    /// The absolute base object for all objects nettiers generates both tables and views.
    /// </summary>
    [Serializable]
    public abstract partial class NettiersBaseCore
    {
        /// <summary>
        /// Object that contains data to associate with this object
        /// </summary>
        [NonSerialized]
        private object tag;

        /// <summary>
        /// Gets or sets the object that contains supplemental data about this object.
        /// </summary>
        /// <value>Object</value>
        [System.ComponentModel.Bindable(false)]
        [LocalizableAttribute(false)]
        [DescriptionAttribute("Object containing data to be associated with this object")]
        public virtual object Tag
        {
            get
            {
                return this.tag;
            }
            set
            {
                if (this.tag == value)
                    return;

                this.tag = value;
            }
        }

        #region Constructors

        /// <summary>
        /// Initializes a new instance of the <see cref="T:NettiersBaseCore"/> class.
        /// </summary>
        protected NettiersBaseCore()
        {
        }

        #endregion

    }
}
