<%--
 * $Id: vsnet2005.solution.cst,v 1.3 2006/01/07 11:06:36 jroland Exp $
 * Last modified by $Author: goofsr $
 * Last modified at $Date: 2006-04-09 20:53:51 -0500 (Sun, 09 Apr 2006) $
 * $Revision: 120 $
--%><%@ CodeTemplate Src="../TemplateLib/CommonSqlCode.cs" Inherits="MoM.Templates.CommonSqlCode" Language="C#" TargetLanguage="Text" Description="Template description here." Debug="True" NoWarn="0108,0618,1572,1573,1574,0162,2002"  %>
<%@ Property Name="RootNameSpace" Type="System.String" Category="Data" Description="Root Namespace." %>
<%@ Property Name="BLLNameSpace" Type="System.String" Category="Data" Description="Entities Namespace." %>
<%@ Property Name="DALNameSpace" Type="System.String" Category="Data" Description="DAL Namespace." %>
<%@ Property Name="DALSqlNameSpace" Type="System.String" Category="Data" Description="DAL sql Namespace." %>
<%@ Property Name="DALGenericNameSpace" Type="System.String" Category="Data" Description="DAL sql Namespace." %>
<%@ Property Name="DALWSNameSpace" Type="System.String" Category="Data" Description="DAL ws Namespace." %>
<%@ Property Name="WebLibNameSpace" Type="System.String" Category="Data" Description="Web Library Namespace." %>
<%@ Property Name="WebsiteNameSpace" Type="System.String" Category="Data" Description="Website Namespace." %>
<%@ Property Name="WinLibNameSpace" Type="System.String" Category="Data" Description="Win Library Namespace." %>
<%@ Property Name="UTNameSpace" Type="System.String" Category="Data" Description="UT Namespace." %>
<%@ Property Name="BLLGuid" Type="System.String" Category="Context" Description="BLL Project Guid" %>
<%@ Property Name="DALGuid" Type="System.String" Category="Context" Description="DAL Project Guid" %>
<%@ Property Name="DALSqlGuid" Type="System.String" Category="Style" Description="DAL Project Guid" %>
<%@ Property Name="DALGenericGuid" Type="System.String" Category="Style" Description="DAL Project Guid" %>
<%@ Property Name="DALWSGuid" Type="System.String" Category="Style" Description="DAL Project Guid" %>
<%@ Property Name="ComponentLayerNameSpace" Type="System.String" Category="Data" Description="Component Layer Namespace." %>
<%@ Property Name="ComponentPattern" Default="None" Type="MoM.Templates.ComponentPatternType" Category="Data" Description="Component Layer Pattern Type." %>
<%@ Property Name="ComponentsGuid" Type="System.String" Category="Style" Description="Component Project Guid" %>
<%@ Property Name="WSGuid" Type="System.String" Category="Context" Description="WS Project Guid" %>
<%@ Property Name="UTGuid" Type="System.String" Category="Context" Description="Unit tests Project Guid" %>
<%@ Property Name="WebLibGuid" Type="System.String" Category="Context" Description="Web Library Project Guid" %>
<%@ Property Name="WebsiteGuid" Type="System.String" Category="Context" Description="Website Project Guid" %>
<%@ Property Name="WinLibGuid" Type="System.String" Category="Context" Description="Win Library Project Guid" %>
<%@ Property Name="IncludeUnitTest" Type="MoM.Templates.UnitTestStyle" Default="NUnit" Category="General" Description="Indicates type of Unit tests to be generated." %>
<%@ Property Name="IncludeSqlClient" Type="System.Boolean" Category="Option" Description="" %>
<%@ Property Name="IncludeGenericClient" Type="System.Boolean" Category="Option" Description="" %>
<%@ Property Name="IncludeWebLibrary" Type="System.Boolean" Category="Option" Description="" %>
<%@ Property Name="IncludeWebsite" Type="System.Boolean" Category="Option" Description="" %>
<%@ Property Name="IncludeComponents" Type="System.Boolean" Default="False" Category="Option" Description="Determines whether or not a component library is being used." %>
<%@ Property Name="IncludeWebservice" Type="System.Boolean" Category="Option" Description="" %>
<%@ Property Name="IncludeWebserviceClient" Type="System.Boolean" Category="Option" Description="" %>
<%@ Property Name="IncludeWinLibrary" Type="System.Boolean" Category="Option" Description="" %>
<%@ Property Name="WebServiceUrl" Type="System.String" Category="WebService" Description="The webservice base URL. The asmx filename will be added programmatically." Default="http://localhost/Services/" %>
<%@ Property Name="rootPathWS" Type="System.String" Category="WebService" Description="The folder where the webservice code is generated." Default="" %>
<%@ Property Name="UseWebAppProject" Type="System.Boolean" Default="false" Category="06b. Website - Advanced" Description="Indicates if a Web Application Project file should be generated." %>

<%@ Property Name="SignAssembly" Type="System.Boolean" Category="Option" Description="" Default="false" %>

<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="System.Design" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.Text" %>
<%@ Import Namespace="System.Text.RegularExpressions" %>
Microsoft Visual Studio Solution File, Format Version 9.00
# Visual Studio 2005
Project("{FAE04EC0-301F-11D3-BF4B-00C04F79EFBC}") = "<%=BLLNameSpace%>", "<%=BLLNameSpace%>\<%=BLLNameSpace%>.csproj", "{<%=BLLGuid%>}"
EndProject
Project("{FAE04EC0-301F-11D3-BF4B-00C04F79EFBC}") = "<%=DALNameSpace%>", "<%=DALNameSpace%>\<%=DALNameSpace%>.csproj", "{<%=DALGuid%>}"
EndProject
<% if (IncludeSqlClient) { %>
Project("{FAE04EC0-301F-11D3-BF4B-00C04F79EFBC}") = "<%=DALSqlNameSpace%>", "<%=DALSqlNameSpace%>\<%=DALSqlNameSpace%>.csproj", "{<%=DALSqlGuid%>}"
EndProject
<% } %>
<% if (IncludeGenericClient) { %>
Project("{FAE04EC0-301F-11D3-BF4B-00C04F79EFBC}") = "<%=DALGenericNameSpace%>", "<%=DALGenericNameSpace%>\<%=DALGenericNameSpace%>.csproj", "{<%=DALGenericGuid%>}"
EndProject
<% } %>
<% if (IncludeComponents) { %>
Project("{FAE04EC0-301F-11D3-BF4B-00C04F79EFBC}") = "<%=ComponentLayerNameSpace%>", "<%=ComponentLayerNameSpace%>\<%=ComponentLayerNameSpace%>.csproj", "{<%=ComponentsGuid%>}"
EndProject
<% } %>
<% if (IncludeWebLibrary) { %>
Project("{FAE04EC0-301F-11D3-BF4B-00C04F79EFBC}") = "<%=WebLibNameSpace%>", "<%=WebLibNameSpace%>\<%=WebLibNameSpace%>.csproj", "{<%=WebLibGuid%>}"
EndProject
<% } %>
<% if (IncludeWinLibrary) { %>
Project("{FAE04EC0-301F-11D3-BF4B-00C04F79EFBC}") = "<%=WinLibNameSpace%>", "<%=WinLibNameSpace%>\<%=WinLibNameSpace%>.csproj", "{<%=WinLibGuid%>}"
EndProject
<% } %>
<% if (IncludeWebsite) { %>
<%
	string websiteProjectGuid = UseWebAppProject ? "FAE04EC0-301F-11D3-BF4B-00C04F79EFBC" : "E24C65DC-7377-472B-9ABA-BC803B73C61A";
	string websiteProjectName = UseWebAppProject ? WebsiteNameSpace : "C:\\...\\" + WebsiteNameSpace + "\\";
	string websiteProjectFile = UseWebAppProject ? WebsiteNameSpace + "\\" + WebsiteNameSpace + ".csproj" : WebsiteNameSpace;
%>
Project("{<%= websiteProjectGuid %>}") = "<%= websiteProjectName %>", "<%= websiteProjectFile %>", "{<%= WebsiteGuid %>}"
	<% if ( !UseWebAppProject ) { %>
	ProjectSection(WebsiteProperties) = preProject
		ProjectReferences = "{<%= BLLGuid %>}|<%= BLLNameSpace %>.dll;{<%= DALGuid %>}|<%= DALNameSpace %>.dll;{<% if (IncludeSqlClient) {%><%=DALSqlGuid%>}|<%=DALSqlNameSpace%>.dll<%} else {%><%=DALGenericGuid%>}|<%=DALGenericNameSpace%>.dll<%}%>;<% if ( IncludeComponents ) { %>{<%= ComponentsGuid %>}|<%= ComponentLayerNameSpace %>.dll;<% } %>{<%= WebLibGuid %>}|<%= WebLibNameSpace %>.dll;"
		Debug.AspNetCompiler.VirtualPath = "/<%= WebsiteNameSpace %>"
		Debug.AspNetCompiler.PhysicalPath = "<%= WebsiteNameSpace %>\"
		Debug.AspNetCompiler.TargetPath = "PrecompiledWeb\<%= WebsiteNameSpace %>\"
		Debug.AspNetCompiler.Updateable = "true"
		Debug.AspNetCompiler.ForceOverwrite = "true"
		Debug.AspNetCompiler.FixedNames = "false"
		Debug.AspNetCompiler.Debug = "True"
		Release.AspNetCompiler.VirtualPath = "/<%= WebsiteNameSpace %>"
		Release.AspNetCompiler.PhysicalPath = "<%= WebsiteNameSpace %>\"
		Release.AspNetCompiler.TargetPath = "PrecompiledWeb\<%= WebsiteNameSpace %>\"
		Release.AspNetCompiler.Updateable = "true"
		Release.AspNetCompiler.ForceOverwrite = "true"
		Release.AspNetCompiler.FixedNames = "false"
		Release.AspNetCompiler.Debug = "False"
		VWDPort = "2005"
	EndProjectSection
	<% } %>
EndProject
<% } %>
<% if (IncludeWebserviceClient) { %>
Project("{FAE04EC0-301F-11D3-BF4B-00C04F79EFBC}") = "<%=DALWSNameSpace%>", "<%=DALWSNameSpace%>\<%=DALWSNameSpace%>.csproj", "{<%=DALWSGuid%>}"
EndProject
<% } %>
<% if (IncludeWebservice) { 
	string componentReference = string.Empty;
	if (ComponentPattern == MoM.Templates.ComponentPatternType.ServiceLayer)
		componentReference = string.Format("{{{0}}}|{1}.dll;", ComponentsGuid, ComponentLayerNameSpace);
%>
Project("{E24C65DC-7377-472B-9ABA-BC803B73C61A}") = "<%=WebServiceUrl%>", "<%=WebServiceUrl%>", "{<%=WSGuid%>}"
	ProjectSection(WebsiteProperties) = preProject
		ProjectReferences = "{<%=BLLGuid%>}|<%=BLLNameSpace%>.dll;{<%=DALGuid%>}|<%=DALNameSpace%>.dll;{<% if (IncludeSqlClient) {%><%=DALSqlGuid%>}|<%=DALSqlNameSpace%>.dll<%} else {%><%=DALGenericGuid%>}|<%=DALGenericNameSpace%>.dll<%}%>;<%= componentReference %>"
		Debug.AspNetCompiler.PhysicalPath = "<%=rootPathWS%>"
		Debug.AspNetCompiler.TargetPath = "<%=WebServiceUrl%>"
		Debug.AspNetCompiler.Updateable = "true"
		Debug.AspNetCompiler.ForceOverwrite = "true"
		Debug.AspNetCompiler.FixedNames = "false"
		Debug.AspNetCompiler.Debug = "True"
		Release.AspNetCompiler.PhysicalPath = "<%=rootPathWS%>"
		Release.AspNetCompiler.TargetPath = "<%=WebServiceUrl%>"
		Release.AspNetCompiler.Updateable = "true"
		Release.AspNetCompiler.ForceOverwrite = "true"
		Release.AspNetCompiler.FixedNames = "false"
		Release.AspNetCompiler.Debug = "False"
		DefaultWebSiteLanguage = "Visual C#"
	EndProjectSection
EndProject
<% } %>
<% if (IncludeUnitTest != MoM.Templates.UnitTestStyle.None) { %>
Project("{FAE04EC0-301F-11D3-BF4B-00C04F79EFBC}") = "<%=UTNameSpace%>", "<%=UTNameSpace%>\<%=UTNameSpace%>.csproj", "{<%=UTGuid%>}"
EndProject
<% } %>
<% if (IncludeUnitTest == MoM.Templates.UnitTestStyle.VSTS) { %>
Project("{2150E333-8FDC-42A3-9474-1A3956D46DE8}") = "Solution Items", "Solution Items", "{C54EB3D3-14D5-4C1A-ADC2-BB6687E604A5}"
	ProjectSection(SolutionItems) = preProject
		localtestrun.testrunconfig = localtestrun.testrunconfig
		<%=RootNameSpace%>.vsmdi = <%=RootNameSpace%>.vsmdi
	EndProjectSection
EndProject
<% } %>
Project("{2150E333-8FDC-42A3-9474-1A3956D46DE8}") = "NetTiers", "NetTiers", "{F3A10C8D-3227-449F-A2CB-014DE2D7F415}"
	ProjectSection(SolutionItems) = preProject
		AssemblyInfo.cs = AssemblyInfo.cs
<% if (SignAssembly) { %>
		<%=RootNameSpace%>.snk = <%=RootNameSpace%>.snk
<% } %>
	EndProjectSection
EndProject
Global
<% if (IncludeUnitTest == MoM.Templates.UnitTestStyle.VSTS) { %>
	GlobalSection(TestCaseManagementSettings) = postSolution
		CategoryFile = <%=RootNameSpace%>.vsmdi
	EndGlobalSection
<% } %>
	GlobalSection(SolutionConfigurationPlatforms) = preSolution
		Debug|Any CPU = Debug|Any CPU
		Release|Any CPU = Release|Any CPU
	EndGlobalSection
	GlobalSection(ProjectConfigurationPlatforms) = postSolution
		{<%=BLLGuid%>}.Debug|Any CPU.ActiveCfg = Debug|Any CPU
		{<%=BLLGuid%>}.Debug|Any CPU.Build.0 = Debug|Any CPU
		{<%=BLLGuid%>}.Release|Any CPU.ActiveCfg = Release|Any CPU
		{<%=BLLGuid%>}.Release|Any CPU.Build.0 = Release|Any CPU
		{<%=DALGuid%>}.Debug|Any CPU.ActiveCfg = Debug|Any CPU
		{<%=DALGuid%>}.Debug|Any CPU.Build.0 = Debug|Any CPU
		{<%=DALGuid%>}.Release|Any CPU.ActiveCfg = Release|Any CPU
		{<%=DALGuid%>}.Release|Any CPU.Build.0 = Release|Any CPU
		<% if (IncludeSqlClient) { %>
		{<%=DALSqlGuid%>}.Debug|Any CPU.ActiveCfg = Debug|Any CPU
		{<%=DALSqlGuid%>}.Debug|Any CPU.Build.0 = Debug|Any CPU
		{<%=DALSqlGuid%>}.Release|Any CPU.ActiveCfg = Release|Any CPU
		{<%=DALSqlGuid%>}.Release|Any CPU.Build.0 = Release|Any CPU
		<%}%>
		<% if (IncludeGenericClient) { %>
		{<%=DALGenericGuid%>}.Debug|Any CPU.ActiveCfg = Debug|Any CPU
		{<%=DALGenericGuid%>}.Debug|Any CPU.Build.0 = Debug|Any CPU
		{<%=DALGenericGuid%>}.Release|Any CPU.ActiveCfg = Release|Any CPU
		{<%=DALGenericGuid%>}.Release|Any CPU.Build.0 = Release|Any CPU
		<%}%>
		<% if (IncludeComponents) { %>
		{<%=ComponentsGuid%>}.Debug|Any CPU.ActiveCfg = Debug|Any CPU
		{<%=ComponentsGuid%>}.Debug|Any CPU.Build.0 = Debug|Any CPU
		{<%=ComponentsGuid%>}.Release|Any CPU.ActiveCfg = Release|Any CPU
		{<%=ComponentsGuid%>}.Release|Any CPU.Build.0 = Release|Any CPU
		<%}%>
		<% if (IncludeWinLibrary) { %>
		{<%=WinLibGuid%>}.Debug|Any CPU.ActiveCfg = Debug|Any CPU
		{<%=WinLibGuid%>}.Debug|Any CPU.Build.0 = Debug|Any CPU
		{<%=WinLibGuid%>}.Release|Any CPU.ActiveCfg = Release|Any CPU
		{<%=WinLibGuid%>}.Release|Any CPU.Build.0 = Release|Any CPU
		<%}%>
		<% if (IncludeWebLibrary) { %>
		{<%=WebLibGuid%>}.Debug|Any CPU.ActiveCfg = Debug|Any CPU
		{<%=WebLibGuid%>}.Debug|Any CPU.Build.0 = Debug|Any CPU
		{<%=WebLibGuid%>}.Release|Any CPU.ActiveCfg = Release|Any CPU
		{<%=WebLibGuid%>}.Release|Any CPU.Build.0 = Release|Any CPU
		<%}%>
		<% if (IncludeWebsite) { %>
		{<%=WebsiteGuid%>}.Debug|Any CPU.ActiveCfg = Debug|Any CPU
		{<%=WebsiteGuid%>}.Debug|Any CPU.Build.0 = Debug|Any CPU
		{<%=WebsiteGuid%>}.Release|Any CPU.ActiveCfg = Release|Any CPU
		{<%=WebsiteGuid%>}.Release|Any CPU.Build.0 = Release|Any CPU
		<% } %>
		<% if (IncludeWebserviceClient) { %>
		{<%=DALWSGuid%>}.Debug|Any CPU.ActiveCfg = Debug|Any CPU
		{<%=DALWSGuid%>}.Debug|Any CPU.Build.0 = Debug|Any CPU
		{<%=DALWSGuid%>}.Release|Any CPU.ActiveCfg = Release|Any CPU
		{<%=DALWSGuid%>}.Release|Any CPU.Build.0 = Release|Any CPU
		<%}%>
		<% if (IncludeWebservice) { %>
		{<%=WSGuid%>}.Debug|Any CPU.ActiveCfg = Debug|Any CPU
		{<%=WSGuid%>}.Debug|Any CPU.Build.0 = Debug|Any CPU
		{<%=WSGuid%>}.Release|Any CPU.ActiveCfg = Release|Any CPU
		{<%=WSGuid%>}.Release|Any CPU.Build.0 = Release|Any CPU
		<%}%>
		<% if (IncludeUnitTest != MoM.Templates.UnitTestStyle.None) { %>
		{<%=UTGuid%>}.Debug|Any CPU.ActiveCfg = Debug|Any CPU
		{<%=UTGuid%>}.Debug|Any CPU.Build.0 = Debug|Any CPU
		{<%=UTGuid%>}.Release|Any CPU.ActiveCfg = Release|Any CPU
		{<%=UTGuid%>}.Release|Any CPU.Build.0 = Release|Any CPU
		<%}%>
	EndGlobalSection
	GlobalSection(SolutionProperties) = preSolution
		HideSolutionNode = FALSE
	EndGlobalSection
	GlobalSection(NestedProjects) = preSolution
		{<%=BLLGuid%>} = {F3A10C8D-3227-449F-A2CB-014DE2D7F415}
		{<%=DALGuid%>} = {F3A10C8D-3227-449F-A2CB-014DE2D7F415}
		<% if (IncludeSqlClient) { %>
		{<%=DALSqlGuid%>} = {F3A10C8D-3227-449F-A2CB-014DE2D7F415}
		<%}%>
		<% if (IncludeGenericClient) { %>
		{<%=DALGenericGuid%>} = {F3A10C8D-3227-449F-A2CB-014DE2D7F415}
		<%}%>
		<% if (IncludeComponents) { %>
		{<%=ComponentsGuid%>} = {F3A10C8D-3227-449F-A2CB-014DE2D7F415}
		<%}%>
		<% if (IncludeWinLibrary) { %>
		{<%=WinLibGuid%>} = {F3A10C8D-3227-449F-A2CB-014DE2D7F415}
		<%}%>
		<% if (IncludeWebLibrary) { %>
		{<%=WebLibGuid%>} = {F3A10C8D-3227-449F-A2CB-014DE2D7F415}
		<%}%>
		<% if (IncludeWebsite) { %>
		{<%= WebsiteGuid %>} = {F3A10C8D-3227-449F-A2CB-014DE2D7F415}
		<% } %>
		<% if (IncludeWebserviceClient) { %>
		{<%=DALWSGuid%>} = {F3A10C8D-3227-449F-A2CB-014DE2D7F415}
		<%}%>
		<% if (IncludeWebservice) { %>
		{<%=WSGuid%>} = {F3A10C8D-3227-449F-A2CB-014DE2D7F415}
		<%}%>
		<% if (IncludeUnitTest != MoM.Templates.UnitTestStyle.None) { %>
		{<%=UTGuid%>} = {F3A10C8D-3227-449F-A2CB-014DE2D7F415}
		<%}%>
	EndGlobalSection
EndGlobal
