<%-- 
* $Id: Menu_xml.cst,v 1.1 2005/12/02 15:23:22 jroland Exp $
 * Last modified by $Author: jroland $
 * Last modified at $Date: 2006-03-16 16:53:08 -0600 (Thu, 16 Mar 2006) $
 * $Revision: 62 $

	Written By:
		Ben Johnson
	Description:
		This script generates an ASP.Net 2.0 user control that will perform CRUD operation
	Remarks:
		
--%>
<%@ CodeTemplate Src="..\..\TemplateLib\CommonSqlCode.cs" Inherits="MoM.Templates.CommonSqlCode" Language="C#" TargetLanguage="C#" Description="Generate a ASP.Net 2.0 user control for administration." Debug="True" ResponseEncoding="UTF-8" NoWarn="0108,0618,1572,1573,1574,0162,2002"%>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="System.Design" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.Collections" %>
<%@ Import Namespace="System.Text" %>

<%@ Property Name="SourceTables" Type="SchemaExplorer.TableSchemaCollection" Category="Connection" Description="Tables of the system." %>
<?xml version="1.0" encoding="utf-8" ?>
<MenuNodes>
	<%
	foreach(TableSchema table in SourceTables)
	{
		string entityName = GetClassName(table);
	%>
	<node id="<%=entityName%>" text="<%=entityName%>" value="<%=entityName%>Page.aspx" />
	<%
	}
	%>
</MenuNodes>
