<%@ CodeTemplate Language="C#" TargetLanguage="XML" Description="Configuration file." Debug="true" %>
<%@ Property Name="IsWebConfig" Type="System.Boolean" Default="False" Category="General" Description="Indicates whether the Unit tests should be generated." %>
<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
    <configSections>
    	<section name="enterpriselibrary.configurationSettings" type="System.Configuration.IgnoreSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </configSections>

    <enterpriselibrary.configurationSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" applicationName="My NetTiers Application" xmlns="http://www.microsoft.com/practices/enterpriselibrary/08-31-2004/configuration">
  	    <configurationSections>
            <configurationSection xsi:type="ReadOnlyConfigurationSectionData" name="cachingConfiguration" encrypt="false">
                <storageProvider xsi:type="XmlFileStorageProviderData" name="XML File Storage Provider" path="cachingConfiguration.config" />
                <dataTransformer xsi:type="XmlSerializerTransformerData" name="Xml Serializer Transformer">
                    <includeTypes />
                </dataTransformer>
            </configurationSection>
            <configurationSection xsi:type="ReadOnlyConfigurationSectionData" name="dataConfiguration" encrypt="false">
                <storageProvider xsi:type="XmlFileStorageProviderData" name="XML File Storage Provider" path="dataConfiguration.config" />
                <dataTransformer xsi:type="XmlSerializerTransformerData" name="Xml Serializer Transformer">
                    <includeTypes />
                </dataTransformer>
            </configurationSection>
            <configurationSection xsi:type="ReadOnlyConfigurationSectionData" name="netTiersConfigData" encrypt="false">
                <storageProvider xsi:type="XmlFileStorageProviderData" name="XML File Storage Provider" path="netTiersConfigData.config" />
                <dataTransformer xsi:type="XmlSerializerTransformerData" name="Xml Serializer Transformer">
                    <includeTypes />
                </dataTransformer>
            </configurationSection>
        </configurationSections>
        <keyAlgorithmStorageProvider xsi:nil="true" />
        <includeTypes />
    </enterpriselibrary.configurationSettings>
    
    <% if (IsWebConfig) { %>
	<system.web>
		<compilation defaultLanguage="c#" debug="true"/>
	</system.web>
	<% } %>
</configuration>

