<%-- 
* $Id: Menu_xml.cst,v 1.2 2005/11/27 22:19:30 jroland Exp $
 * Last modified by $Author: jroland $
 * Last modified at $Date: 2005/11/27 22:19:30 $
 * $Revision: 1.2 $

	Written By:
		Ben Johnson
	Description:
		This script generates an ASP.Net 2.0 user control that will perform CRUD operation
	Remarks:
		
--%>
<%@ CodeTemplate Src="..\..\CommonSqlCode.cs" Inherits="MoM.Templates.CommonSqlCode" Language="C#" TargetLanguage="C#" Description="Generate a ASP.Net 2.0 user control for administration." Debug="True" %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="System.Design" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.Collections" %>
<%@ Import Namespace="System.Text" %>

<%@ Property Name="SourceTables" Type="SchemaExplorer.TableSchemaCollection" Category="Connection" Description="Tables of the system." %>
<?xml version="1.0" encoding="utf-8" ?>
<MenuNodes>
	<%
	foreach(TableSchema table in SourceTables)
	{
		string entityName = GetClassName(table.Name);
	%>
	<node id="<%=entityName%>" text="<%=entityName%>" value="<%=entityName%>Page.aspx" />
	<%
	}
	%>
</MenuNodes>
