<%@ CodeTemplate Language="C#" TargetLanguage="C#" Description="" ResponseEncoding="UTF-8"  NoWarn="0108,0618,1572,1573,1574,0162,2002"%>
<%@ Property Name="DALNameSpace" Type="System.String" Category="Data" Description="DAL Namespace." %>

using System;
using System.Collections.Generic;
using System.Text;
using System.Configuration.Provider;

namespace <%=DALNameSpace%>.Bases
{
	/// <summary>
	/// Reprensents the strongly typed collection of NetTiersProvider.
	/// </summary>
	public class NetTiersProviderCollection : ProviderCollection
	{
		/// <summary>
	    /// Gets the <see cref="T:NetTiersProvider"/> with the specified name.
	    /// </summary>
	    /// <value></value>
	    public new NetTiersProvider this[string name]
	    {
	        get { return (NetTiersProvider)base[name]; }
	    }
	
		/// <summary>
	    /// Adds the specified provider.
	    /// </summary>
	    /// <param name="provider">The provider.</param>
	    public void Add(NetTiersProvider provider)
	    {
	        if (provider == null)
	        {
	            throw new ArgumentNullException("provider");
	        }
	        if (!(provider is NetTiersProvider))
	        {
	            throw new ArgumentException("Invalid provider type", "provider");
	        }
	        base.Add(provider);
	    }
	}
}
