<%@ CodeTemplate Language="C#" TargetLanguage="C#" Description="Generate a CAB WorkItem." Debug="True" ResponseEncoding="UTF-8" NoWarn="0108,0618,1572,1573,1574,0162,2002"%>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="System.Design" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.Collections" %>
<%@ Import Namespace="System.Text" %>

<%@ Property Name="EntityName" Type="System.String" Category="Data" Description="Namespace." %>
<%@ Property Name="EntityNameSpace" Type="System.String" Category="Style" Description="Root Namespace." %>
<%@ Property Name="WorkItemNameSpace" Type="System.String" Category="Style" Description="Root Namespace." %>
<%@ Property Name="ViewClassName" Type="System.String" Category="Data" Description="Namespace." %>
<%@ Property Name="PresenterClassName" Type="System.String" Category="Data" Description="Namespace." %>

namespace <%=WorkItemNameSpace%>
{
	/// <summary>
	/// This class is the view, all the interaction with .
	/// </summary>
    partial class <%=ViewClassName%>
    {
        /// <summary> 
        /// Required designer variable.
        /// </summary>
        private System.ComponentModel.IContainer components = null;
                
        /// <summary> 
        /// Clean up any resources being used.
        /// </summary>
        /// <param name="disposing">true if managed resources should be disposed; otherwise, false.</param>
        protected override void Dispose(bool disposing)
        {
            if (disposing && (components != null))
            {
                components.Dispose();
            }
            base.Dispose(disposing);
        }

        #region Component Designer generated code

        /// <summary> 
        /// Required method for Designer support - do not modify 
        /// the contents of this method with the code editor.
        /// </summary>
        private void InitializeComponent()
        {
            this.components = new System.ComponentModel.Container();
            System.ComponentModel.ComponentResourceManager resources = new System.ComponentModel.ComponentResourceManager(typeof(<%=ViewClassName%>));
            
            this.ResumeLayout(false);
            this.PerformLayout();
        }
        
        #endregion           
    }
}
