<%--
 * $Id: WsEntityViewProvider.cst,v 1.1 2005/11/04 07:09:39 jroland Exp $
 * Last modified by $Author$
 * Last modified at $Date$
 * $Revision$
--%>
<%@ CodeTemplate Language="C#" TargetLanguage="C#" Description="Generate BusinessObject." %>

<%@ Property Name="DALNameSpace" Type="System.String" Category="Data" Description="DAL Namespace." %>
<%@ Property Name="ClassName" Type="System.String" Category="Data" Description="Member Class Name." %>
<%@ Property Name="ProviderName" Type="System.String" Category="Data" Description="The name of the provider class." %>
<%@ Property Name="ProviderBaseName" Type="System.String" Category="Data" Description="Abstract repository Class Name." %>
#region Using directives

using System;
using System.Data;
using System.Collections;
using System.Diagnostics;
using Microsoft.Practices.EnterpriseLibrary.Data;
using System.ComponentModel;
using <%=DALNameSpace%>;

#endregion

namespace <%=DALNameSpace%>.WebServiceClient
{
	///<summary>
	/// This class is the WebServiceClient Data Access Logic Component implementation for the <see cref="<%=ClassName%>"/> business entity.
	///</summary>
	public class <%=ProviderName%> : <%=ProviderBaseName%>
	{
		
		#region Constructors
	
		/// <summary>
		/// Creates a new <see cref="<%=ProviderName%>"/> instance.
		/// </summary>
		public <%=ProviderName%>() : base()
		{
		}
	
		/// <summary>
		/// Creates a new <see cref="<%=ProviderName%>"/> instance.
		/// </summary>
		public <%=ProviderName%>(NetTiers.Configuration.WsDataProviderData providerData) : base(providerData)
		{
		}
				
		#endregion
		
	}
}