.ImgButton
{ 
	BORDER-RIGHT: black 1px solid; 
	BORDER-TOP: black 1px solid; 
	FONT-SIZE: 8pt; 
	BORDER-LEFT: black 1px solid; 
	BORDER-BOTTOM: black 1px solid; 
	FONT-FAMILY: Tahoma,helvetica; 
	BACKGROUND-COLOR: whitesmoke;
	BACKGROUND-POSITION: left center;
    PADDING-LEFT: 20px;
    CURSOR:pointer;
    BACKGROUND-REPEAT: no-repeat;
}

.titlebox { FONT-SIZE: 14pt; COLOR: white; FONT-FAMILY: Arial }

A.GridHeaderLabel:link {
	COLOR: white;
	text-decoration:none;
}


A.GridHeaderLabel:visited{
	COLOR: white;
	text-decoration:none;
}
A.GridHeaderLabel:hover {
	COLOR: yellow;
	text-decoration:underline;
}
A.GridHeaderLabel:active {
	COLOR: red;
	text-decoration:none;
}
