<%@ CodeTemplate Language="C#" TargetLanguage="HTML" Src="..\..\TemplateLib\CommonSqlCode.cs" Inherits="MoM.Templates.CommonSqlCode" Description="" Debug="True" ResponseEncoding="UTF-8" NoWarn="0108,0618,1572,1573,1574,0162,2002"%>

<%@ Property Name="WebsiteNameSpace" Type="System.String" Category="Data" Description="Website Namespace." %>
<%@ Property Name="IncludeAtlasLibrary" Type="System.Boolean" Default="false" Category="06b. Website - Advanced" Description="Indicates whether to include the Atlas component library." %>
<%@ Property Name="UseWebAppProject" Type="System.Boolean" Default="false" Category="06b. Website - Advanced" Description="Indicates if a Web Application Project file should be generated." %>

<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="System.Design" %>
<%@ Import Namespace="SchemaExplorer" %>
<%
	string codeBehindProperty = UseWebAppProject ? "CodeBehind" : "CodeFile";
%>
<%%@ Page Language="C#" AutoEventWireup="true" <%= codeBehindProperty %>="Default.aspx.cs" Inherits="<%= WebsiteNameSpace %>._Default" %%>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Home Page</title>
</head>
<body>
    <form id="form1" runat="server">
		<% if ( IncludeAtlasLibrary ) { %>
        <asp:ScriptManager ID="ScriptManager1" runat="server" />
		<% } %>
        <div>
        </div>
    </form>

	<% if ( IncludeAtlasLibrary ) { %>
    <script type="text/xml-script">
        <page xmlns:script="http://schemas.microsoft.com/xml-script/2005">
            <references>
            </references>
            <components>
            </components>
        </page>
    </script>
	<% } %>
</body>
</html>
