<%@ CodeTemplate Language="C#" TargetLanguage="XML" Description="WebService info path" NoWarn="0108,0618,1572,1573,1574,0162,2002" %>
<%@ Property Name="NameSpace" Type="System.String" Category="Data" Description="Class Namespace." %>
<%@ Property Name="WebServiceUrl" Type="System.String" Category="Data" Description="Base Url of the webservice." Optional="True"%>
<%@ Property Name="DataAccessLayerFolderName" Type="System.String" Category="General" Description="The sub folder to output the DataAccessLayer files" Default="DataAccessLayer" ResponseEncoding="UTF-8" %>
<VisualStudioUNCWeb>
    <Web URLPath = "<%=WebServiceUrl + NameSpace + "." + (DataAccessLayerFolderName.Length>0 ? DataAccessLayerFolderName : "DataAccessLayer") + ".WebService.csproj"%>" />
</VisualStudioUNCWeb>