<?xml version="1.0" encoding="utf-8"?>
<configuration>
	
	<configSections>
			
		<sectionGroup name="netTiers">
			
            <section name="templates"
				type="System.Configuration.SingleTagSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowLocation="true" />

			<section name="formatters"
				type="System.Configuration.SingleTagSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowLocation="true" />

			<section name="storedProcedures"
				type="System.Configuration.SingleTagSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowLocation="true" />

<!--
			<section 
				name="SubAccountEntities"
				type="System.Configuration.NameValueSectionHandler,System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowLocation="true" />
-->	
		</sectionGroup>
		
	</configSections>


  <appSettings>
	<add key="NetTiersPath" value="..\Templates\NetTiers.cst" />
  </appSettings>
  
  <netTiers>
	<templates
		path="..\Templates\NetTiers.cst" />
	
	<!-- Code styling -->
	<formatters
		entityFormat=""
	/>
	
	<!-- Stored procedures styling -->
	<storedProcedures
		entityFormat=""
	/>
  </netTiers>
  
</configuration>