<%@ CodeTemplate Language="C#" TargetLanguage="C#" Description="Generate an Entity provider." Debug="True" ResponseEncoding="UTF-8" NoWarn="0108,0618,1572,1573,1574,0162,2002"%>

<%@ Property Name="NameSpace" Type="System.String" Category="Data" Description="Object Namespace." %>
<%@ Property Name="DALNameSpace" Type="System.String" Category="Data" Description="DAL Namespace." %>
<%@ Property Name="ClassName" Type="System.String" Category="Data" Description="Member Class Name." %>
<%@ Property Name="ProviderName" Type="System.String" Category="Data" Description="Repository Class Name." %>
<%@ Property Name="ProviderBaseName" Type="System.String" Category="Data" Description="Abstract repository Class Name." %>
#region Using directives

using System;
using System.Data;
using System.Collections;
using System.Diagnostics;
using Microsoft.Practices.EnterpriseLibrary.Data;
using System.ComponentModel;

using <%=NameSpace%>;
using <%=DALNameSpace%>;

#endregion

namespace <%=DALNameSpace%>.GenericClient
{
	///<summary>
	/// This class is the SqlClient Data Access Logic Component implementation for the <see cref="<%=ClassName%>"/> entity.
	///</summary>
	[DataObject]
	[CLSCompliant(true)]
	public partial class <%=ProviderName%>: <%=ProviderBaseName%>
	{
		/// <summary>
		/// Creates a new <see cref="<%=ProviderName%>"/> instance.
		/// Uses connection string to connect to datasource.
		/// </summary>
		/// <param name="connectionString">The connection string to the database.</param>
		/// <param name="useStoredProcedure">A boolean value that indicates if we use the stored procedures or embedded queries.</param>
		/// <param name="providerInvariantName">Name of the invariant provider use by the DbProviderFactory.</param>
		public <%=ProviderName%>(string connectionString, bool useStoredProcedure, string providerInvariantName): base(connectionString, useStoredProcedure, providerInvariantName){}
	}
}