<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
       <section name="netTiersService"
        type="netTiers.PetShop.DataAccessLayer.Bases.NetTiersServiceSection, netTiers.PetShop.DataAccessLayer"
        allowDefinition="MachineToApplication"
        restartOnExternalChanges="true" />
  </configSections>
  
  <connectionStrings>
    <add name="netTiersConnectionString" connectionString="server=(local);database=petshop; uid=sa;pwd=;Trusted_Connection=yes;CONNECTION TIMEOUT=1" />
  </connectionStrings>

  <netTiersService defaultProvider="SqlNetTiersProvider">
    <providers>
    
    <!--
    *** SqlClient Provider ***
    	connectionStringName: sqlclient connection string to the db
    	useStoredProcedure: if trueindicates that we use the stored procedures, otherwise, we use parametrized queries that are embedded.
    -->
      <add 
        name="SqlNetTiersProvider" 
        type="netTiers.PetShop.DataAccessLayer.SqlClient.SqlNetTiersProvider, netTiers.PetShop.DataAccessLayer.SqlClient"
        connectionStringName="netTiersConnectionString"
        useStoredProcedure="false"
        providerInvariantName="System.Data.SqlClient"
        />
      <!-- 
      	*** WebserviceClient Provider ***
      	The url parameter indicates the webservices url (ex: http://localhost/NorthWind/NorthWindServices.aspx)
      <add 
        name="WsNetTiersProvider" 
        type="netTiers.PetShop.DataAccessLayer.WebServiceClient.WsNetTiersProvider, netTiers.PetShop.DataAccessLayer.WebServiceClient"
        url="PetShopServices.asmx"
        />
     -->
    </providers>
  </netTiersService>
  
</configuration>
