<%@ CodeTemplate Language="C#" TargetLanguage="C#" Src="..\..\CommonSqlCode.cs" Inherits="MoM.Templates.CommonSqlCode" Debug="False" Description="Generates the ProviderDataSource type." %>
<%@ Property Name="BLLNameSpace" Optional="False" Type="System.String" Category="Style" Description="Object Namespace." %>
<%@ Property Name="DALNameSpace" Optional="False" Type="System.String" Category="Style" Description="DAL Namespace." %>
<%@ Property Name="WebNameSpace" Optional="False" Type="System.String" Category="Style" Description="Web Namespace." %>

<%@ Property Name="IncludeFind" Type="System.Boolean" Default="True" Category="CRUD Options" Description="If true find statements will be generated." %>
<%@ Property Name="IncludeSave" Type="System.Boolean" Default="True" Category="CRUD Options" Description="If true combined insert/update/delete procedures will be generated. In consequence, if this option is selected IncludeInsert, IncludeUpdate and IncludeDelete are automatically activated." %>
<%@ Property Name="IncludeInsert" Type="System.Boolean" Default="True" Category="CRUD Options" Description="If true insert procedures will be generated." %>
<%@ Property Name="IncludeUpdate" Type="System.Boolean" Default="True" Category="CRUD Options" Description="If true update procedures will be generated." %>
<%@ Property Name="IncludeDelete" Type="System.Boolean" Default="True" Category="CRUD Options" Description="If true delete procedures will be generated." %>
<%@ Property Name="IncludeGet" Type="System.Boolean" Default="True" Category="CRUD Options" Description="If true get procedures will be generated." %>
<%@ Property Name="IncludeGetList" Type="System.Boolean" Default="True" Category="CRUD Options" Description="If true getlist procedures will be generated." %>	
<%@ Property Name="IncludeGetListByFK" Type="System.Boolean" Default="True" Category="CRUD Options" Description="If true get statements will be generated." %>
<%@ Property Name="IncludeGetListByIX" Type="System.Boolean" Default="True" Category="CRUD Options" Description="If true getlist statements will be generated." %>
<%@ Property Name="IncludeManyToMany" Type="System.Boolean" Default="True" Category="CRUD Options" Description="If true select statements will be generated for any many to many relationship." %>
<%@ Property Name="IncludeRelations" Type="System.Boolean" Default="True" Category="CRUD Options" Description="If true, the child collection relationships will be generated within your entities, if set to false, these child collections will not be generated, and Deep Load/Save will not be generated." %>

<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="System.Design" %>
#region Using directives
using System;
using System.Collections;
using System.Collections.Generic;
using System.Collections.Specialized;
using System.ComponentModel;
using System.Text;
using System.Web.UI;
using System.Web.UI.WebControls;

using <%= BLLNameSpace %>;
using <%= DALNameSpace %>;
using <%= DALNameSpace %>.Bases;
#endregion

namespace <%= WebNameSpace %>.Data
{
	/// <summary>
	/// Represents a business object that provides data to data-bound
	/// controls in multi-tier Web application architectures.
	/// </summary>
	/// <typeparam name="Entity">The class of the business object being accessed.</typeparam>
	/// <typeparam name="EntityKey">The class of the EntityId
	/// property of the specified business object class.</typeparam>
	public abstract class ProviderDataSource<Entity, EntityKey> : BaseDataSource<Entity, EntityKey>
		where Entity : IEntityId<EntityKey>, new()
		where EntityKey : IEntityKey, new()
	{
		#region Constructors

		/// <summary>
		/// Initializes a new instance of the ProviderDataSource class.
		/// </summary>
		public ProviderDataSource()
		{
		}

		/// <summary>
		/// Initializes a new instance of the ProviderDataSource class using
		/// the specified data provider.
		/// </summary>
		/// <param name="provider">The business object that provides data access methods.</param>
		public ProviderDataSource(IEntityProvider<Entity, EntityKey> provider)
		{
			Provider = provider;
		}

		#endregion Constructors

		#region Properties

		/// <summary>
		/// Gets a reference to the ProviderDataSourceView used by the ProviderDataSource.
		/// </summary>
		protected ProviderDataSourceView<Entity, EntityKey> ProviderView
		{
			get { return ( View as ProviderDataSourceView<Entity, EntityKey> ); }
		}

		/// <summary>
		/// Gets or sets the object that the ProviderDataSource object represents.
		/// </summary>
		[Browsable(false)]
		public IEntityProvider<Entity, EntityKey> Provider
		{
			get { return ProviderView.Provider; }
			set { ProviderView.Provider = value; }
		}

		#endregion Properties

		#region Methods

		/// <summary>
		/// Creates a new instance of the ProviderDataSourceView class that is to be
		/// used by the ProviderDataSource.
		/// </summary>
		/// <returns>An instance of the ProviderDataSourceView class.</returns>
		/// <remarks>This method should be overridden by sub-classes who need to provide
		/// additional functionality through the use of a sub-classed ProviderDataSourceView.</remarks>
		protected override BaseDataSourceView<Entity, EntityKey> GetNewDataSourceView()
		{
			return new ProviderDataSourceView<Entity, EntityKey>(this, DefaultViewName);
		}

		#endregion Methods
	}

	/// <summary>
	/// Supports the ProviderDataSource control and provides an interface for
	/// data-bound controls to perform data operations with business and data objects.
	/// </summary>
	/// <typeparam name="Entity">The class of the business object being accessed.</typeparam>
	/// <typeparam name="EntityKey">The class of the EntityId
	/// property of the specified business object class.</typeparam>
	public class ProviderDataSourceView<Entity, EntityKey> : BaseDataSourceView<Entity, EntityKey>
		where Entity : IEntityId<EntityKey>, new()
		where EntityKey : IEntityKey, new()
	{
		#region Declarations

		private IEntityProvider<Entity, EntityKey> _provider;

		#endregion Declarations

		#region Constructors

		/// <summary>
		/// Initializes a new instance of the ProviderDataSourceView class.
		/// </summary>
		/// <param name="owner">A reference to the ProviderDataSource which created this instance.</param>
		/// <param name="viewName">The name of the view.</param>
		public ProviderDataSourceView(ProviderDataSource<Entity, EntityKey> owner, String viewName)
			: base(owner, viewName)
		{
		}

		#endregion Constructors

		#region Properties

		/// <summary>
		/// Gets or sets the object that the ProviderDataSource object represents.
		/// </summary>
		internal IEntityProvider<Entity, EntityKey> Provider
		{
			get { return _provider; }
			set { _provider = value; }
		}

		#endregion Properties

		<% if ( IncludeInsert ) { %>
		#region Insert Methods

		/// <summary>
		/// Performs an insert operation on the specified Entity object.
		/// </summary>
		/// <param name="entity">The Entity object to insert.</param>
		/// <returns>Returns true if successful, otherwise false.</returns>
		protected override bool ExecuteInsert(Entity entity)
		{
			bool success = Provider.Insert(GetTransactionManager(), entity);
			EntityId = entity.EntityId;
			return success;
		}

		#endregion Insert Methods

		<%	} // end if ( IncludeInsert ) %>
		<% if ( IncludeUpdate ) { %>
		#region Update Methods

		/// <summary>
		/// Performs an update operation on the specified Entity object.
		/// </summary>
		/// <param name="entity">The Entity object to update.</param>
		/// <returns>Returns true if successful, otherwise false.</returns>
		protected override bool ExecuteUpdate(Entity entity)
		{
			return Provider.Update(GetTransactionManager(), entity);
		}

		#endregion UpdateMethods

		<% } // end if ( IncludeUpdate ) %>
		<% if ( IncludeDelete ) { %>
		#region Delete Methods

		/// <summary>
		/// Performs a delete operation on the specified Entity object.
		/// </summary>
		/// <param name="entity">The Entity object to delete.</param>
		/// <returns>Returns true if successful, otherwise false.</returns>
		protected override bool ExecuteDelete(Entity entity)
		{
			return Provider.Delete(GetTransactionManager(), entity);
		}

		#endregion Delete Methods

		<% } // end if ( IncludeDelete ) %>
		#region Helper Methods

		/// <summary>
		/// Create an instance of the EntityKey class based on the values
		/// contained within the specified IDictionary object.
		/// </summary>
		/// <param name="values">An IDictionary object of name/value pairs.</param>
		/// <returns>An EntityKey object representing the Entity.EntityId property.</returns>
		protected override EntityKey GetEntityKey(IDictionary values)
		{
			EntityKey key = new EntityKey();
			key.Load(values);
			return key;
		}

		/// <summary>
		/// Gets the Entity object within the collection of Entity objects that matches
		/// the values found in the specified IDictionary object.
		/// </summary>
		/// <param name="entityList">A collection of Entity objects.</param>
		/// <param name="keys">An IDictionary of name/value pairs representing a unique identifier.</param>
		/// <returns>The Entity object that matches the supplied unique identifier.</returns>
		protected override Entity GetCurrentEntity(ListBase<Entity> entityList, IDictionary keys)
		{
			// special processing when keys parameter is null
			if ( keys == null && entityList.Count == 1 )
			{
				return entityList[0];
			}

			EntityKey key = GetEntityKey(keys);

			return entityList.Find(delegate(Entity entity)
			{
				return key.Equals(entity.EntityId);
			});
		}

		/// <summary>
		/// Stores the specified entity in the temporary cache.
		/// </summary>
		/// <param name="entity">The Entity object to cache.</param>
		/// <param name="entityList">The list of Entity objects to cache.</param>
		protected override void SetTempCache(Entity entity, out ListBase<Entity> entityList)
		{
			entityList = new TList<Entity>();
			entityList.Add(entity);
		}

		#endregion Helper Methods
	}
}
