<%@ CodeTemplate Language="C#" TargetLanguage="C#" Src="..\..\CommonSqlCode.cs" Inherits="MoM.Templates.CommonSqlCode" Debug="False" Description="Generates a data source control for each view." %>
<%@ Property Name="BLLNameSpace" Optional="False" Type="System.String" Category="Style" Description="Object Namespace." %>
<%@ Property Name="DALNameSpace" Optional="False" Type="System.String" Category="Style" Description="DAL Namespace." %>
<%@ Property Name="WebNameSpace" Optional="False" Type="System.String" Category="Style" Description="Web Namespace." %>

<%@ Property Name="SourceView" Type="SchemaExplorer.ViewSchema" Category="Connection" Description="Table that the data access class should be based on." %>

<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="System.Design" %>
<%
	string viewName = SourceView.Name;
	string className = GetClassName(viewName);
	string providerName = GetProviderName(viewName);
	string providerObject = "DataRepository." + providerName;
%>
#region Using Directives
using System;
using System.ComponentModel;
using <%= BLLNameSpace %>;
using <%= DALNameSpace %>;
#endregion

namespace <%= WebNameSpace %>.Data
{
	/// <summary>
	/// Represents the DataRepository.<%= className %>Provider object that provides
	/// data to data-bound controls in multi-tier Web application architectures.
	/// </summary>
	[CLSCompliant(true)]
	[Designer(typeof(<%= className %>DataSourceDesigner))]
	public class <%= className %>DataSourceControl : ReadOnlyDataSource<<%= className %>>
	{
		/// <summary>
		/// Initializes a new instance of the <%= className %>DataSourceControl class.
		/// </summary>
		public <%= className %>DataSourceControl() : base(<%= providerObject %>)
		{
		}
	}

	#region <%= className %>DataSourceDesigner

	/// <summary>
	/// Provides design-time support in a design host for the <%= className %>DataSource class.
	/// </summary>
	public class <%= className %>DataSourceDesigner : ReadOnlyDataSourceDesigner<<%= className %>>
	{
	}

	#endregion <%= className %>DataSourceDesigner

	#region <%= className %>Filter

	/// <summary>
	/// A strongly-typed instance of the <see cref="SqlFilter&lt;EntityColumn&gt;"/> class
	/// that is used exclusively with a <see cref="<%= className %>"/> object.
	/// </summary>
	[CLSCompliant(true)]
	public class <%= className %>Filter : SqlFilter<<%= className %>Column>
	{
	}

	#endregion <%= className %>Filter
}
