<%@ CodeTemplate Language="C#" TargetLanguage="C#" Description="" Debug="True" ResponseEncoding="UTF-8" NoWarn="0108,0618,1572,1573,1574,0162,2002" %>

<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="CodeSmith.CustomProperties" %>
<%@ Assembly Name="System.Design" %>
<%@ Assembly Name="System.Data" %>
<%@ Assembly Name="System.Xml" %>

<%@ Import Namespace="CodeSmith.CustomProperties" %>
<%@ Import Namespace="System.IO" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.Collections.Generic" %>
<%@ Import Namespace="System.Xml.Serialization" %>
<%@ Property Name="MappingFile" Category="09. Code style - Advanced" Type="System.String" Default="Mapping.config" Optional="False" Description="Optional Full File Path to a table/object alias file." Editor="System.Windows.Forms.Design.FileNameEditor, System.Design, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"  %>
<%@ Register Name="MappingInstance" Template="NetTiersMapInstance.Internal.cst" MergeProperties="True" ExcludeProperties="OutputDirectory,NetTiersMapInstance,MappingFile" %>

<%
<script runat="template">
	public override void Render(TextWriter writer)
	{
		#if CodeSmith40
		MappingInstance map = this.Create<MappingInstance>();
		#else
		MappingInstance map = new MappingInstance();
		#endif	
		
	    this.CopyPropertiesTo(map);
		map.Render(writer);
	}
</script>