<%@ CodeTemplate Src="..\..\TemplateLib\CommonSqlCode.cs" Inherits="MoM.Templates.CommonSqlCode" Language="C#" TargetLanguage="C#" Description="The interface that each business object of the domain implements." ResponseEncoding="UTF-8" NoWarn="0108,0618,1572,1573,1574,0162,2002"%>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Assembly Name="System.Design" %>

<%@ Property Name="NameSpace" Optional="False" Type="System.String" Category="Style" Description="Object Namespace." %>
<%@ Property Name="BLLNameSpace" Optional="False" Type="System.String" Category="Style" Description="Entities Namespace." %>
<%@ Assembly Name="SchemaExplorer" %>

using System;
using System.Collections.Generic;
using System.ComponentModel;
using <%=BLLNameSpace%>;
using <%=BLLNameSpace%>.Validation;

namespace <%=NameSpace%>
{
	/// <summary>
	/// The interface that each component business domain service of the model implements.
	/// </summary>
	public interface IProcessorResult
	{
		/// <summary>
		///	Provides a result of the current process.
		/// </summary>
		///<value>A list of business rule processors to execute</value>
		bool Result {get; set;}
		
		/// <summary>
		///	Provides a list of broken rules for the entire process.
		/// </summary>
		///<value>A list of rules that were broken in the process</value>
		Dictionary<Type, BrokenRulesList> BrokenRulesLists {get;}
		
		/// <summary>
		///	Provides a method to aggregate BrokenRuleList Collections Based on their Type 
		/// if they are invalid.
		/// </summary>
		void AddBrokenRulesList(Type type, BrokenRulesList otherList);
		
		/// <summary>
		///	Provides the final processor state the operation.
		/// </summary>
		ProcessorState FinalProcessorState {get;set;}
	}
}
