<%--
 * $Id: WsEntityProvider.cst,v 1.1 2005/11/04 07:09:39 jroland Exp $
 * Last modified by $Author: jroland $
 * Last modified at $Date: 2005/11/04 07:09:39 $
 * $Revision: 1.1 $
--%>
<%@ CodeTemplate Language="C#" TargetLanguage="C#" Description="Generate BusinessObject." Debug="true" %>

<%@ Property Name="NameSpace" Type="System.String" Category="Data" Description="Object Namespace." %>
<%@ Property Name="DALNameSpace" Type="System.String" Category="Data" Description="DAL Namespace." %>
<%@ Property Name="ClassName" Type="System.String" Category="Data" Description="Member Class Name." %>
<%@ Property Name="ProviderName" Type="System.String" Category="Data" Description="Repository Class Name." %>
<%@ Property Name="ProviderBaseName" Type="System.String" Category="Data" Description="Abstract repository Class Name." %>
<%@ Property Name="DotNet2" Type="System.Boolean" Category="Data" Description="version of the .net framework." %>
#region Using directives

using System;
using System.Data;
using System.Collections;
using System.Diagnostics;
using Microsoft.Practices.EnterpriseLibrary.Data;
using System.ComponentModel;
using <%=DALNameSpace%>;

#endregion

namespace <%=DALNameSpace%>.WebServiceClient
{
	///<summary>
	/// This class is the SqlClient Data Access Logic Component implementation for the <see cref="<%=ClassName%>"/> business entity.
	///</summary>
	<% if (DotNet2) {%>[DataObject] <%}%>public class <%=ProviderName%> : <%=ProviderBaseName%>
	{
		
		#region Constructors
	
		/// <summary>
		/// Creates a new <see cref="<%=ProviderName%>"/> instance.
		/// </summary>
		public <%=ProviderName%>() : base()
		{
		}
	
		/// <summary>
		/// Creates a new <see cref="<%=ProviderName%>"/> instance.
		/// </summary>
		public <%=ProviderName%>(NetTiers.Configuration.WsDataProviderData providerData) : base(providerData)
		{
		}
		
		#endregion

	}
}