<%@ CodeTemplate Language="C#" TargetLanguage="Xml" Description="Caching Configuration file" %>
<?xml version="1.0" encoding="utf-8"?>
<cachingConfiguration>
  <xmlSerializerSection type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=1.1.0.0,  Culture=neutral, PublicKeyToken=null">
    <enterpriseLibrary.cacheSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" defaultCacheManager="Cache Manager" xmlns="http://www.microsoft.com/practices/enterpriselibrary/08-31-2004/cache">
      <cacheManagers>
        <cacheManager name="Cache Manager" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10">
          <cacheStorage xsi:type="CustomCacheStorageData" name="Null Storage" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=1.1.0.0, Culture=neutral, PublicKeyToken=null">
            <extensions />
          </cacheStorage>
        </cacheManager>
      </cacheManagers>
    </enterpriseLibrary.cacheSettings>
  </xmlSerializerSection>
</cachingConfiguration>