<%--
 * $Id: BrokenRule.cst,v 1.2 2006/02/18 00:04:05 bgjohnso Exp $
 * Last modified by $Author: goofsr $
 * Last modified at $Date: 2006-04-09 14:39:46 -0500 (Sun, 09 Apr 2006) $
 * $Revision: 119 $
--%>
<%@ CodeTemplate Src="..\..\TemplateLib\CommonSqlCode.cs" Inherits="MoM.Templates.CommonSqlCode" Language="C#" TargetLanguage="C#" Description="BrokenRule class for validation." ResponseEncoding="UTF-8" NoWarn="0108,0618,1572,1573,1574,0162,2002"%>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Assembly Name="System.Design" %>

<%@ Property Name="NameSpace" Optional="False" Type="System.String" Category="Style" Description="Object Namespace." %>
<%@ Assembly Name="SchemaExplorer" %>
using System;
using System.Collections.Generic;
using System.Text;

namespace <%=NameSpace%>.Validation
{
   /// <summary>
   /// Object representing a broken validation rule
   /// </summary>
   [Serializable()]
   public class BrokenRule
   {
      private string _ruleName;
      private string _description;
      private string _property;
	  
	  /// <summary>
	  /// Default parameterless constructor used by Reflection for Soap Serialization
	  /// </summary>
	  private BrokenRule()
	  {
		 // used by Reflection.
	  }
	
      /// <summary>
      /// Creates a instance of the object.
      /// </summary>
      /// <param name="rule"><see cref="ValidationRuleInfo"/> containing the details about the rule that was broken.</param>
      internal BrokenRule(ValidationRuleInfo rule)
      {
         _ruleName = rule.RuleName;
         _description = rule.ValidationRuleArgs.Description;
         _property = rule.ValidationRuleArgs.PropertyName;
      }

      /// <summary>
      /// Provides access to the name of the broken rule.
      /// </summary>
      /// <value>The name of the rule.</value>
      public string RuleName
      {
         get { return _ruleName; }
      }

      /// <summary>
      /// The description of the broken rule.
      /// </summary>
      /// <value>The description of the rule.</value>
      public string Description
      {
         get { return _description; }
      }

      /// <summary>
      /// The name of the property affected by the broken rule.
      /// </summary>
      /// <value>The property affected by the rule.</value>
      public string Property
      {
         get { return _property; }
      }
   }
}
