<%@ CodeTemplate Src="..\..\..\CommonSqlCode.cs" Inherits="MoM.Templates.CommonSqlCode" Language="C#" TargetLanguage="C#" Description="Generates Entity Fields to be used from within EntityEdit screen" Debug="True" %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="System.Design" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.Collections" %>
<%@ Import Namespace="System.Text" %>

<%@ Property Name="SourceTables" Type="SchemaExplorer.TableSchemaCollection" Category="Connection" Description="Tables of the system." %>
<%@ Property Name="SourceDatabase" Type="SchemaExplorer.DatabaseSchema" Optional="False" Category="DataSource" 	Description="Database that the stored procedures should be based on." %>
<?xml version="1.0" encoding="utf-8" ?>
<siteMap xmlns="http://schemas.microsoft.com/AspNet/SiteMap-File-1.0" >
  
    <siteMapNode url="" title="Admin"  description="">
        <siteMapNode url="~/Admin/Default.aspx" title="Admin"  description="Admin" />  
              
<%
	for (int i=0; i < SourceTables.Count; i++)
	{
		string entityName = GetClassName(SourceTables[i].Name);
%>
		<siteMapNode url="~/Admin/<%=entityName%>.aspx" title="<%=entityName%>"  description="" />
<%
	}
%>
        </siteMapNode>              
</siteMap>
