/* 
   The below CSS file was built using samples + techniques described by Rachel Andrew in her book:
   The CSS Anthology: 101 Essential Tips, Tricks & Hacks
*/
/*
#B51032 - Gray;
#ED9F9F - Silver
#711515 - Navy
/
/* Overall Page */

body {
	margin: 0;
	padding-bottom: 2em;
	background-color: #FFFFFF;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	border-top: 2px solid Gray;
}

/* Header Section */

#header {
	border-top: 3px solid #507CD1;
	border-bottom: 1px dotted #507CD1;
	height: 3em;
}
#header .title {
	font: 190% Arial, Helvetica, Georgia, "Times New Roman", Times, serif;
	color: black;
	background-color: transparent;
	float: left;
	margin-right: 2em;
	margin-top: 0.3em;
	margin-left: .8em;
}
#header .breadcrumb {
	font: 90% Arial, Helvetica, Georgia, "Times New Roman", Times, serif;
	color: black;
	background-color: transparent;
	float: right;
	margin-right: 2em;
	margin-top: 0.8em;	
	font-weight:bold;
}
#header .logininfo
{
	font: 90% Arial, Helvetica, Georgia, "Times New Roman", Times, serif;
	color: black;
	background-color: transparent;
	float: right;
	margin-right: 2em;
	margin-top: 0.8em;	
}

#header a:link, a:visited  {
	color: Gray;
}

/* Footer */

#footer {
	position: relative;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1.5em;
	background-color: #507CD1;
	color: #FFFFFF;
	border-top: #778899;
	text-align: center;
}

#footer a:link, #footer a:visited {
	padding: 0.8em 1em 0.5em 1em;
	color: #FFFFFF;
	background-color: transparent;
	font-size: 80%;
}


/* Navigation */

#navigation {
	width: 200px;
	top: 4em;
	left: 1em;
	width: 13em;	
	position:absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size:90%;
	z-index:100;
}
#navigation ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#navigation li {
	border-bottom: 1px solid Silver;
}
#navigation li a:link, #navigation li a:visited  {
	display: block;
	padding: 5px 5px 5px 0.5em;
	border-left: 12px solid #507CD1;
	border-right: 1px solid #507CD1;
	background-color: #EFF3FB;
	color: Navy;
	text-decoration: none;
}
#navigation li a:hover {
	background-color: #507CD1;
	color: #FFFFFF;
}
#navigation ul ul {
	margin-left: 12px;
}
#navigation ul ul li {
	border-bottom: 1px solid #507CD1;
	margin:0;
}
#navigation ul ul a:link, #navigation ul ul a:visited {
	background-color: #FFFFFF;
	color: Navy;
}
#navigation ul ul a:hover {
	background-color: #507CD1;
	color: #FFFFFF;
}

/* Main Content */

#content 
{
	margin-top:1em;
	margin-left: 16em;
	margin-right: 2em;
}
h1 {
	font: 150% Arial, Helvetica, Georgia, "Times New Roman", Times, serif;
}
#content p {
	font-size: 80%;
	line-height: 1.6em; 
}
