<%@ CodeTemplate Language="C#" TargetLanguage="C#" Src="..\TemplateLib\CommonSqlCode.cs" Inherits="MoM.Templates.CommonSqlCode" Debug="False" Description="Generates the IEntityKey type." ResponseEncoding="UTF-8"  NoWarn="0108,0618,1572,1573,1574,0162,2002" %>
<%@ Property Name="BLLNameSpace" Optional="False" Type="System.String" Category="Style" Description="Object Namespace." %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="System.Design" %>
#region Using directives
using System.Collections;
#endregion

namespace <%= BLLNameSpace %>
{
	/// <summary>
	/// Defines a method that allows setting of property values
	/// based on the key/value pairs of an IDictionary object.
	/// </summary>
	public interface IEntityKey
	{
		/// <summary>
		/// Reads values from the supplied IDictionary object into
		/// properties of the current object.
		/// </summary>
		/// <param name="values">An IDictionary instance that contains the key/value
		/// pairs to be used as property values.</param>
		void Load(IDictionary values);

		/// <summary>
		/// Creates a new <see cref="IDictionary"/> object and populates it
		/// with the property values of the current object.
		/// </summary>
		/// <returns>A collection of name/value pairs.</returns>
		IDictionary ToDictionary();
	}
}
