<%@ CodeTemplate Language="C#" TargetLanguage="C#" Description="contains a creational factory for entity types." NoWarn="0108,0618,1572,1573,1574,0162,2002" %>
<%@ Property Name="NameSpace" Type="System.String" Category="Data" Description="The project root Namespace." %>

using System;
using System.Collections;
using System.Reflection;

namespace <%=NameSpace%>
{
	/// <summary>
    /// Entity Factory provides methods to create entity types from type names as strings.
    /// </summary>
    public partial class EntityFactory : EntityFactoryBase, IEntityFactory
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="EntityFactory"/> class.
        /// </summary>
        public EntityFactory()
        {
            base.CurrentEntityAssembly = typeof(EntityFactory).Assembly;
        }
    }
}
