/* 
   Color Notes:

   The standard set of color names is:

   aqua, black, blue, fuchsia, gray, green, lime, maroon, navy, olive,
   purple, red, silver, teal, white and yellow. 

   These 16 olors are defined in HTML 3.2 and 4.01.
*/

/* Default page appearance */
body
{
	background-color: white;
	color: black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 70%;
}


/* Header definitions */
h1 { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.75em;
	color: blue;
	background-color: white;
}
h2 { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.35em;
	color: navy;
}
h3 { 
	font-family: Helvetica;
	font-size: 1.1em;
	color: navy;
}
h4 { 
	font-family: Helvetica;
	font-size: 1.1em;
	color: navy;
}
h5 { 
	font-family: Helvetica;
	font-size: 1.1em;
	color: navy;
}
h6 { 
	font-family: Helvetica;
	font-size: 1.1em;
	color: navy;
}
	
/* Paragraph and pre-formatted text appearance */
pre
{
	margin-top: .5em;
	margin-bottom: .5em;
	font-family: Monospace, Courier New, Courier;
	border: 1px #D0D0D0 solid;
	background-color: #F0F0F0;
	color: #003366;
	font-size: 100%;
	margin-left: 20px;
	padding: 4px;
	text-indent: 0;
}

p.INDENT { /* It will insert an indented paragraph. You should start */
           /* this with a <p class="indent"> container. */
	text-indent: 2em;
}

/* Table stuff */
table { 
	background-color: white;
	border-top: 1px;
	border-left: 1px;
	border-color: #808080;
	border-collapse:collapse;
}
th { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: white;
	background-color: Navy;
	border-bottom: 1px;
	border-right: 1px;
	border-color: #808080;
}
td { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: white;
	font-size: 70%;
	border-bottom: 1px;
	border-right: 1px;
	border-color: #808080;
	padding: 2px;
}
	
/* Link colors. */
a:link { /* Unvisited links */
	color: navy;
}
a:visited { /* Visited links */ 
	color: navy;
}
a:active { /* Clicked links */
	color: olive;
}
a:hover { /* Mouse over link */
	color: green;
}
