<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="netTiersService" type="netTiers.Petshop.Data.Bases.NetTiersServiceSection, netTiers.Petshop.Data" allowDefinition="MachineToApplication" restartOnExternalChanges="true"/>
	</configSections>
	<connectionStrings>
		<add name="netTiersConnectionString" connectionString="server=.;uid=petshopuser;pwd=1.petshop.1;database=petshop;"/>
	</connectionStrings>
	<netTiersService defaultProvider="SqlNetTiersProvider">
		<providers>
			<!--
      *** SqlClient Provider ***
    	connectionStringName: sqlclient connection string to the db
    	useStoredProcedure: if trueindicates that we use the stored procedures, otherwise, we use parametrized queries that are embedded.
      -->
			<add name="SqlNetTiersProvider" type="netTiers.Petshop.Data.SqlClient.SqlNetTiersProvider, netTiers.Petshop.Data.SqlClient" connectionStringName="netTiersConnectionString" useStoredProcedure="false" providerInvariantName="System.Data.SqlClient" entityFactoryType="netTiers.Petshop.Entities.EntityFactory" enableEntityTracking="true"/>
		</providers>
	</netTiersService>
	<system.web>
		<compilation defaultLanguage="c#" debug="true">
			<assemblies>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Security, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Management, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Configuration.Install, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="stdole, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies></compilation>
	</system.web>
</configuration>
