<%@ Register Name="MappingInstance" Template="../SchemaMapping/NetTiersMapInstance.Internal.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="vsnet2005Project" Template="../VisualStudio/vsnet2005.project.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="vsnet2005Solution" Template="../VisualStudio/vsnet2005.solution.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="vsnet2005Vsmdi" Template="../VisualStudio/vsnet2005.vsmdi.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="vsnet2005LocaltestrunTestrunconfig" Template="../VisualStudio/vsnet2005.localtestrun.testrunconfig.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="nAnt" Template="../VisualStudio/nAnt.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="AssemblyInfo" Template="../VisualStudio/AssemblyInfo.cst" MergeProperties="False" ExcludeProperties="" %> 
<%@ Register Name="entlibv2config" Template="../VisualStudio/entlib.v2.config.cst" MergeProperties="False" ExcludeProperties="" %>																												
<%@ Register Name="entlibv3config" Template="../VisualStudio/entlib.v3.config.cst" MergeProperties="False" ExcludeProperties="" %>																												
<%@ Register Name="entlibv3_1config" Template="../VisualStudio/entlib.v3_1.config.cst" MergeProperties="False" ExcludeProperties="" %>																												
<%@ Register Name="AppConfig" Template="../VisualStudio/App.config.2005.cst" MergeProperties="False" ExcludeProperties="" %>													
<%@ Register Name="Enum" Template="../Entities/Enum.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="IEntity" Template="../Entities/IEntity.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="IEntityId" Template="../Entities/IEntityId.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="IEntityKey" Template="../Entities/IEntityKey.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="EntityBase" Template="../Entities/EntityBase.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="EntityBaseCoreGenerated" Template="../Entities/EntityBaseCore.generated.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="EntityKeyBase" Template="../Entities/EntityKeyBase.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="EntityKeyBaseCoreGenerated" Template="../Entities/EntityKeyBaseCore.generated.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="EntityFilter" Template="../Entities/EntityFilter.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="EntityHelper" Template="../Entities/EntityHelper.cst" MergeProperties="False" ExcludeProperties="" %>	
<%@ Register Name="EntityUtil" Template="../Entities/EntityUtil.cst" MergeProperties="False" ExcludeProperties="" %>	
<%@ Register Name="EntityPropertyComparer" Template="../Entities/EntityPropertyComparer.cst" MergeProperties="False" ExcludeProperties="" %> 
<%@ Register Name="GenericTypeConverter" Template="../Entities/GenericTypeConverter.cst" MergeProperties="False" ExcludeProperties="" %> 
													
<%@ Register Name="EntityFactory" Template="../Entities/EntityFactory.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="EntityFactoryBase" Template="../Entities/EntityFactoryBase.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="EntityCache" Template="../Entities/EntityCache.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="EntityLocator" Template="../Entities/EntityLocator.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="EntityManager" Template="../Entities/EntityManager.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="IEntityFactory" Template="../Entities/IEntityFactory.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="IEntityCacheItem" Template="../Entities/IEntityCacheItem.cst" MergeProperties="False" ExcludeProperties="" %>

<%@ Register Name="EntityInstanceBaseGenerated" Template="../Entities/EntityInstanceBase.generated.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="IEntityInstance" Template="../Entities/IEntityInstance.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="EntityData" Template="../Entities/EntityData.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="EntityInstance" Template="../Entities/EntityInstance.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="TList" Template="../Entities/TList.cst" MergeProperties="False" ExcludeProperties="" %> 
<%@ Register Name="ListBase" Template="../Entities/ListBase.cst" MergeProperties="False" ExcludeProperties="" %>
														
<%@ Register Name="VList" Template="../Entities/Views/VList.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="EntityViewBaseGenerated" Template="../Entities/Views/EntityViewBase.generated.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="EntityView" Template="../Entities/Views/EntityView.cst" MergeProperties="False" ExcludeProperties="" %>
														
<%@ Register Name="BrokenRule" Template="../Entities/Validation/BrokenRule.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="BrokenRulesList" Template="../Entities/Validation/BrokenRulesList.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="CommonRules" Template="../Entities/Validation/CommonRules.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="ValidationRuleArgs" Template="../Entities/Validation/ValidationRuleArgs.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="ValidationRuleHandler" Template="../Entities/Validation/ValidationRuleHandler.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="ValidationRuleInfo" Template="../Entities/Validation/ValidationRuleInfo.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="ValidationRules" Template="../Entities/Validation/ValidationRules.cst" MergeProperties="False" ExcludeProperties="" %>
																												
<%@ Register Name="Component" Template="../Components/Component.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="ComponentBase" Template="../Components/ComponentBase.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="ComponentService" Template="../Components/ComponentService.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="ComponentServiceBase" Template="../Components/ComponentServiceBase.cst" MergeProperties="False" ExcludeProperties="" %>
														
<%@ Register Name="ComponentDataAccess" Template="../Components/ComponentDataAccess.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="ComponentViewDataAccess" Template="../Components/Views/ComponentViewDataAccess.cst" MergeProperties="False" ExcludeProperties="" %>

<%@ Register Name="ComponentViewService" Template="../Components/Views/ComponentViewService.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="ComponentViewServiceBase" Template="../Components/Views/ComponentViewServiceBase.cst" MergeProperties="False" ExcludeProperties="" %>														

<%@ Register Name="ComponentView" Template="../Components/Views/ComponentView.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="ComponentViewBase" Template="../Components/Views/ComponentViewBase.cst" MergeProperties="False" ExcludeProperties="" %>														


<%@ Register Name="IComponentEntity" Template="../Components/IComponentEntity.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="ConnectionScope" Template="../Components/ConnectionScope.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="DomainUtil" Template="../Components/DomainUtil.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="IComponentService" Template="../Components/IComponentService.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="ServiceBase" Template="../Components/ServiceBase.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="ServiceBaseCore" Template="../Components/ServiceBaseCore.cst" MergeProperties="False" ExcludeProperties="" %>

<%@ Register Name="ServiceViewBase" Template="../Components/Views/ServiceViewBase.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="ServiceViewBaseCore" Template="../Components/Views/ServiceViewBaseCore.cst" MergeProperties="False" ExcludeProperties="" %>
														
<%@ Register Name="ServiceResult" Template="../Components/ServiceResult.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="ComponentEntityFactory" Template="../Components/ComponentEntityFactory.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="IProcessor" Template="../Components/Processors/IProcessor.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="IProcessorResult" Template="../Components/Processors/IProcessorResult.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="ProcessorBase" Template="../Components/Processors/ProcessorBase.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="GenericProcessorResult" Template="../Components/Processors/GenericProcessorResult.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="SecurityContext" Template="../Components/SecurityContext.cst" MergeProperties="False" ExcludeProperties="" %>														
																												
																																										
<%@ Register Name="DataRepository" Template="../DataAccessLayer/DataRepository.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="Utility" Template="../DataAccessLayer/Utility.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="TransactionManager" Template="../DataAccessLayer/TransactionManager.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="IEntityProvider" Template="../DataAccessLayer/IEntityProvider.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="IEntityViewProvider" Template="../DataAccessLayer/IEntityViewProvider.cst" MergeProperties="False" ExcludeProperties="" %>
																																										
<%@ Register Name="NetTiersProvider" Template="../DataAccessLayer/Bases/NetTiersProvider.cst" MergeProperties="False" ExcludeProperties="" %>							
<%@ Register Name="NetTiersProviderCollection" Template="../DataAccessLayer/Bases/NetTiersProviderCollection.cst" MergeProperties="False" ExcludeProperties="" %>							
<%@ Register Name="NetTiersServiceSection" Template="../DataAccessLayer/Bases/NetTiersServiceSection.cst" MergeProperties="False" ExcludeProperties="" %>							
														
<%@ Register Name="EntityProviderBaseCoreGenerated" Template="../DataAccessLayer/Bases/EntityProviderBaseCore.generated.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="EntityProviderBase" Template="../DataAccessLayer/Bases/EntityProviderBase.cst" MergeProperties="False" ExcludeProperties="" %>														
<%@ Register Name="EntityViewProviderBase" Template="../DataAccessLayer/Bases/Views/EntityViewProviderBase.cst" MergeProperties="False" ExcludeProperties="" %>														
<%@ Register Name="EntityViewProviderBaseCoreGenerated" Template="../DataAccessLayer/Bases/Views/EntityViewProviderBaseCore.generated.cst" MergeProperties="False" ExcludeProperties="" %>
														
<%@ Register Name="EntityProviderBaseClass" Template="../DataAccessLayer/Bases/EntityProviderBaseClass.cst" MergeProperties="False" ExcludeProperties="" %>														
<%@ Register Name="EntityProviderBaseCoreClassGenerated" Template="../DataAccessLayer/Bases/EntityProviderBaseCoreClass.generated.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="EntityViewProviderBaseClass" Template="../DataAccessLayer/Bases/Views/EntityViewProviderBaseClass.cst" MergeProperties="False" ExcludeProperties="" %>														
<%@ Register Name="EntityViewProviderBaseCoreClassGenerated" Template="../DataAccessLayer/Bases/Views/EntityViewProviderBaseCoreClass.generated.cst" MergeProperties="False" ExcludeProperties="" %>
																																																							
<%@ Register Name="ExpressionParserBase" Template="../DataAccessLayer/Query/ExpressionParserBase.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="SqlExpressionParser" Template="../DataAccessLayer/Query/SqlExpressionParser.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="SqlStringBuilder" Template="../DataAccessLayer/Query/SqlStringBuilder.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="SqlUtil" Template="../DataAccessLayer/Query/SqlUtil.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="StringTokenizer" Template="../DataAccessLayer/Query/StringTokenizer.cst" MergeProperties="False" ExcludeProperties="" %>
														
<%@ Register Name="SqlNetTiersProvider" Template="../DataAccessLayer.SqlClient/SqlNetTiersProvider.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="SqlEntityProviderBaseGenerated" Template="../DataAccessLayer.SqlClient/SqlEntityProviderBase.generated.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="SqlEntityProvider" Template="../DataAccessLayer.SqlClient/SqlEntityProvider.cst" MergeProperties="False" ExcludeProperties="" %>
														
<%@ Register Name="StoredProcedureProvider" Template="../DataAccessLayer.SqlClient/StoredProcedureProvider.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="StoredProceduresXml" Template="../DataAccessLayer.SqlClient/StoredProceduresXml.cst" MergeProperties="False" ExcludeProperties="" %>
																												
<%@ Register Name="SqlEntityViewProviderBaseGenerated" Template="../DataAccessLayer.SqlClient/Views/SqlEntityViewProviderBase.generated.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="SqlEntityViewProvider" Template="../DataAccessLayer.SqlClient/Views/SqlEntityViewProvider.cst" MergeProperties="False" ExcludeProperties="" %>
																												
<%@ Register Name="GenericNetTiersProvider" Template="../DataAccessLayer.GenericClient/GenericNetTiersProvider.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="GenericEntityProviderBaseGenerated" Template="../DataAccessLayer.GenericClient/GenericEntityProviderBase.generated.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="GenericEntityProvider" Template="../DataAccessLayer.GenericClient/GenericEntityProvider.cst" MergeProperties="False" ExcludeProperties="" %>
														
<%@ Register Name="DbCommandManager" Template="../DataAccessLayer.GenericClient/DbCommandManager.cst" MergeProperties="False" ExcludeProperties="" %>
														
<%@ Register Name="SystemDataSQLiteProcedures" Template="../DataAccessLayer.GenericClient/System.Data.SQLite.Procedures.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="SystemDataOleDbProcedures" Template="../DataAccessLayer.GenericClient/System.Data.OleDb.Procedures.cst" MergeProperties="False" ExcludeProperties="" %>
																												
																												
<%@ Register Name="ServiceLayerWebService" Template="../DataAccessLayer.WebService/ServiceLayer.WebService.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="WebService" Template="../DataAccessLayer.WebService/WebService.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="WebInfo" Template="../DataAccessLayer.WebService/WebInfo.cst" MergeProperties="False" ExcludeProperties="" %>
														
<%@ Register Name="WsNetTiersProvider" Template="../DataAccessLayer.WebServiceClient/WsNetTiersProvider.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="WsEntityProvider" Template="../DataAccessLayer.WebServiceClient/WsEntityProvider.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="WsEntityProviderBaseGenerated" Template="../DataAccessLayer.WebServiceClient/WsEntityProviderBase.generated.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="WsEntityViewProvider" Template="../DataAccessLayer.WebServiceClient/Views/WsEntityViewProvider.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="WsEntityViewProviderBaseGenerated" Template="../DataAccessLayer.WebServiceClient/Views/WsEntityViewProviderBase.generated.cst" MergeProperties="False" ExcludeProperties="" %>
														
																												
<%@ Register Name="EntityRepositoryTest" Template="../UnitTests/EntityRepositoryTest.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="EntityRepositoryTestGenerated" Template="../UnitTests/EntityRepositoryTest.generated.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="EntityViewRepositoryTest" Template="../UnitTests/EntityViewRepositoryTest.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="EntityViewRepositoryTestGenerated" Template="../UnitTests/EntityViewRepositoryTest.generated.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="OrderedEntityRepositoryTestList" Template="../UnitTests/OrderedEntityRepositoryTestList.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="OrderedEntityViewRepositoryTestList" Template="../UnitTests/OrderedEntityViewRepositoryTestList.cst" MergeProperties="False" ExcludeProperties="" %>
														
<%@ Register Name="AdminEntityUC_Designer" Template="../ASP.Net/2.0/AdminEntityUC_Designer.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="AdminEntityUC_CodeBehind" Template="../ASP.Net/2.0/AdminEntityUC_CodeBehind.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="Menu_xml" Template="../ASP.Net/2.0/Menu_xml.cst" MergeProperties="False" ExcludeProperties="" %>
														
<%@ Register Name="DefaultAspxCs" Template="../ASP.Net/Common/Default.aspx.cs.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="DefaultAspx" Template="../ASP.Net/Common/Default.aspx.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="WebConfig" Template="../ASP.Net/Common/WebConfig.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="WebConfigAtlas" Template="../ASP.Net/Common/WebConfigAtlas.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="DefaultAspxDesigner" Template="../ASP.Net/WebAppProject/Default.aspx.designer.cs.cst" MergeProperties="False" ExcludeProperties="" %>
														
<%@ Register Name="BaseDataSource" Template="../WebLibrary/Data/BaseDataSource.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="BaseDataSourceDesigner" Template="../WebLibrary/Data/BaseDataSourceDesigner.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="CustomDataSource" Template="../WebLibrary/Data/CustomDataSource.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="CustomDataSourceDesigner" Template="../WebLibrary/Data/CustomDataSourceDesigner.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="CustomParameter" Template="../WebLibrary/Data/CustomParameter.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="DataParameter" Template="../WebLibrary/Data/DataParameter.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="EntityDataSource" Template="../WebLibrary/Data/EntityDataSource.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="EntityDataSourceFilter" Template="../WebLibrary/Data/EntityDataSourceFilter.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="EntityRelationship" Template="../WebLibrary/Data/EntityRelationship.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="EntityRelationshipMember" Template="../WebLibrary/Data/EntityRelationshipMember.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="EntityTransactionModule" Template="../WebLibrary/Data/EntityTransactionModule.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="ILinkedDataSource" Template="../WebLibrary/Data/ILinkedDataSource.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="ManyToManyListRelationship" Template="../WebLibrary/Data/ManyToManyListRelationship.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="ManyToManyViewRelationship" Template="../WebLibrary/Data/ManyToManyViewRelationship.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="OneToManyGridRelationship" Template="../WebLibrary/Data/OneToManyGridRelationship.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="OneToOneViewRelationship" Template="../WebLibrary/Data/OneToOneViewRelationship.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="ProviderDataSource" Template="../WebLibrary/Data/ProviderDataSource.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="ProviderDataSourceDesigner" Template="../WebLibrary/Data/ProviderDataSourceDesigner.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="ReadOnlyDataSource" Template="../WebLibrary/Data/ReadOnlyDataSource.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="ReadOnlyDataSourceDesigner" Template="../WebLibrary/Data/ReadOnlyDataSourceDesigner.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="SqlParameter" Template="../WebLibrary/Data/SqlParameter.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="TableDataSource" Template="../WebLibrary/Data/TableDataSource.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="ViewDataSource" Template="../WebLibrary/Data/ViewDataSource.cst" MergeProperties="False" ExcludeProperties="" %>
														
<%@ Register Name="FormUtil" Template="../WebLibrary/UI/FormUtil.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="FormUtilBase" Template="../WebLibrary/UI/FormUtilBase.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="MultiBindableTemplate" Template="../WebLibrary/UI/MultiBindableTemplate.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="MultiFormView" Template="../WebLibrary/UI/MultiFormView.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="EntityGridView" Template="../WebLibrary/UI/EntityGridView.cs.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="EntityDropDownList" Template="../WebLibrary/UI/EntityDropDownList.cs.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="BoundEntityDropDownField" Template="../WebLibrary/UI/BoundEntityDropDownField.cs.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="BoundRadioButtonField" Template="../WebLibrary/UI/BoundRadioButtonField.cs.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="GridViewSearchPanel" Template="../WebLibrary/UI/GridViewSearchPanel.cs.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="GridViewSearchPanelState" Template="../WebLibrary/UI/GridViewSearchPanelState.cs.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="EntityLabel" Template="../WebLibrary/UI/EntityLabel.cs.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="HyperlinkField" Template="../WebLibrary/UI/HyperlinkField.cs.cst" MergeProperties="False" ExcludeProperties="" %>

<%@ Register Name="TableRepeater" Template="../WebLibrary/UI/TableRepeater.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="ViewRepeater" Template="../WebLibrary/UI/ViewRepeater.cst" MergeProperties="False" ExcludeProperties="" %>
														
<%@ Register Name="EntityAspx" Template="../ASP.Net/Common/Admin/Entity.aspx.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="EntityAspxCs" Template="../ASP.Net/Common/Admin/Entity.aspx.cs.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="EntityEditAspx" Template="../ASP.Net/Common/Admin/EntityEdit.aspx.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="EntityEditAspxCs" Template="../ASP.Net/Common/Admin/EntityEdit.aspx.cs.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="EntityFieldsAscx" Template="../ASP.Net/Common/Admin/UserControls/EntityFields.ascx.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="WebSitemap" Template="../ASP.Net/Common/Admin/Web.Sitemap.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="SiteMaster" Template="../ASP.Net/Common/Admin/MasterPages/admin.master.cst" MergeProperties="False" ExcludeProperties="" %>
														
<%@ Register Name="TableEditControl" Template="../WinformsLibrary/UI/TableEditControl.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="TableEditControlBase" Template="../WinformsLibrary/UI/TableEditControlBase.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="TableGridView" Template="../WinformsLibrary/UI/TableGridView.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="TableGridViewBase" Template="../WinformsLibrary/UI/TableGridViewBase.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="TypedDataSource" Template="../WinformsLibrary/Data/TypedDataSource.cst" MergeProperties="False" ExcludeProperties="" %>
	
