<%@ CodeTemplate Language="C#" TargetLanguage="C#" Src="..\..\TemplateLib\CommonSqlCode.cs" Inherits="MoM.Templates.CommonSqlCode" Debug="False" Description="Generates the CustomDataSourceDesigner type." ResponseEncoding="UTF-8"  NoWarn="0108,0618,1572,1573,1574,0162,2002" %>
<%@ Property Name="BLLNameSpace" Optional="False" Type="System.String" Category="Style" Description="Object Namespace." %>
<%@ Property Name="DALNameSpace" Optional="False" Type="System.String" Category="Style" Description="DAL Namespace." %>
<%@ Property Name="WebNameSpace" Optional="False" Type="System.String" Category="Style" Description="Web Namespace." %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="System.Design" %>
#region Using Directives
using System;
#endregion

namespace <%= WebNameSpace %>.Data
{
	/// <summary>
	/// Provides design-time support in a design host for the CustomDataSource class.
	/// </summary>
	[Serializable]
	[CLSCompliant(true)]
	public class CustomDataSourceDesigner : BaseDataSourceDesigner<Object, Object>
	{
		/// <summary>
		/// Initializes a new instance of the CustomDataSourceDesigner class.
		/// </summary>
		public CustomDataSourceDesigner()
		{
		}
	}
}
