<%--
 * $Id: vsnet2003.project.cst,v 1.4 2005/12/09 15:42:48 jroland Exp $
 * Last modified by $Author: jroland $
 * Last modified at $Date: 2005/12/09 15:42:48 $
 * $Revision: 1.4 $
--%>
<%@ CodeTemplate Src="CommonSqlCode.cs" Inherits="MoM.Templates.CommonSqlCode" Language="C#" TargetLanguage="Text" Description="Template description here." Debug="False"%>

<%@ Property Name="SourceDatabase" Type="SchemaExplorer.DatabaseSchema" Optional="True" Category="Context" Description="Database that the stored procedures should be based on." %>
<%@ Property Name="SourceTables" Type="SchemaExplorer.TableSchemaCollection" Category="Context" Description="Tables that the stored procedures should be based on." %>
<%@ Property Name="SourceViews" Type="SchemaExplorer.ViewSchemaCollection" Category="Context" Description="Views that the stored procedures should be based on." %>
<%@ Property Name="EnumTables" Type="SchemaExplorer.TableSchemaCollection" Category="Context" Description="Tables that the stored procedures should be based on." %>

<%@ Property Name="BLLGuid" Type="System.String" Category="Style" Description="BLL Project Guid" %>
<%@ Property Name="DALGuid" Type="System.String" Category="Style" Description="DAL Project Guid" %>
<%@ Property Name="DALSqlGuid" Type="System.String" Category="Style" Description="DAL Project Guid" %>
<%@ Property Name="DALWSGuid" Type="System.String" Category="Style" Description="DAL Project Guid" %>
<%@ Property Name="UTGuid" Type="System.String" Category="Context" Description="Unit tests Project Guid" %>
<%@ Property Name="WSGuid" Type="System.String" Category="Context" Description="WebService Project Guid" %>

<%@ Property Name="OutputDirectory" Type="System.String" Category="General" Description="The root output folder."%>

<%@ Property Name="NameSpace" Type="System.String" Category="Style" Description="Root Namespace" %>
<%@ Property Name="BLLNameSpace" Type="System.String" Category="Data" Description="Entities Namespace." %>
<%@ Property Name="DALNameSpace" Type="System.String" Category="Data" Description="DAL Namespace." %>
<%@ Property Name="DALSqlNameSpace" Type="System.String" Category="Data" Description="DAL sql Namespace." %>
<%@ Property Name="DALWSNameSpace" Type="System.String" Category="Data" Description="DAL ws Namespace." %>
<%@ Property Name="UTNameSpace" Type="System.String" Category="Data" Description="UT Namespace." %>
<%@ Property Name="WSNameSpace" Type="System.String" Category="Data" Description="WebService Namespace." %>


<%@ Property Name="IncludeBll" Type="System.Boolean" Category="Option" Description="" %>

<%@ Property Name="IncludeDALBase" Type="System.Boolean" Category="Option" Description="" %>
<%@ Property Name="IncludeSqlClient" Type="System.Boolean" Category="Option" Description="" %>
<%@ Property Name="IncludeWebservice" Type="System.Boolean" Category="Option" Description="" %>
<%@ Property Name="IncludeWebserviceClient" Type="System.Boolean" Category="Option" Description="" %>
<%@ Property Name="IncludeUnitTest" Type="System.Boolean" Default="true" Category="General" Description="Indicates whether the Unit tests should be generated." %>

<%@ Property Name="SingleProject" Type="System.Boolean" Default="true" Category="General" Description="Indicates whether the project contains only one tier." %>

<%@ Property Name="WebServiceUrl" Type="System.String" Category="WebService" Description="The webservice base URL. The asmx filename will be added programmatically." Default="http://localhost/Services/" %>
<%@ Property Name="rootPathWS" Type="System.String" Category="WebService" Description="The folder where the webservice code is generated." Default="" %>

<%@ Property Name="UsePartialClass" Type="System.Boolean" Default="false" Category="General" Description="Indicates if partial class should be generated." %>


<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="System.Design" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.Text" %>
<%@ Import Namespace="System.Text.RegularExpressions" %>
<%
	string fileName = string.Empty;
	
	// the assembly and documentation filename
	if (!SingleProject && IncludeBll)
	{
		fileName =  BLLNameSpace; 
	}
	else if (!SingleProject && IncludeDALBase) 
	{
		fileName = DALNameSpace;
	}
	else if (!SingleProject && IncludeSqlClient) 
	{
		fileName = DALSqlNameSpace; 
	}
	else if (!SingleProject && IncludeUnitTest)
	{
		fileName = UTNameSpace;
	}
	else if (!SingleProject && IncludeWebservice)
	{
		fileName = WSNameSpace;
	}
	else if (!SingleProject && IncludeWebserviceClient)
	{
		fileName = DALWSNameSpace;
	}	
	else
	{
		fileName = NameSpace;
	}
	
	// Definition of subfolder is necessary for single project mode
	string BLLSubFolder = SingleProject  ? BLLNameSpace : string.Empty;
	string DALSubFolder = SingleProject ? DALNameSpace + @"\" : string.Empty;
	string SqlClientSubFolder = (SingleProject ? DALSqlNameSpace + @"\" : string.Empty) + "";
	string WSClientSubFolder = (SingleProject ? DALWSNameSpace + @"\" : string.Empty) + "";
	string UTSubFolder = SingleProject ? UTNameSpace + @"\" : string.Empty;
%>
<VisualStudioProject>
    <CSHARP
        ProjectType = "<%if (!SingleProject && IncludeWebservice) Response.Write("Web"); else Response.Write("Local"); %>"
        ProductVersion = "7.10.3077"
        SchemaVersion = "2.0"
        ProjectGuid = "{<% if (IncludeBll) Response.Write(BLLGuid); else if (!SingleProject && IncludeDALBase) Response.Write(DALGuid); else if (!SingleProject && IncludeSqlClient) Response.Write(DALSqlGuid); else if (!SingleProject && IncludeUnitTest) Response.Write(UTGuid); else if (!SingleProject && IncludeWebservice) Response.Write(WSGuid);else if (!SingleProject && IncludeWebserviceClient) Response.Write(DALWSGuid);  %>}"
    >
    <Build>
            <Settings
                ApplicationIcon = ""
                AssemblyKeyContainerName = ""
                AssemblyName = '<%=fileName%>'
                AssemblyOriginatorKeyFile = ""
                DefaultClientScript = "JScript"
                DefaultHTMLPageLayout = "Grid"
                DefaultTargetSchema = "IE50"
                DelaySign = "false"
                OutputType = "Library"
                PreBuildEvent = ""
                PostBuildEvent = '<% if (IncludeUnitTest || IncludeWebservice) { Response.Write("copy \"$(ProjectDir)*.config\" \"$(TargetDir)\""); } %>'
                RootNamespace = "<%=fileName%>"
                RunPostBuildEvent = "Always"
                StartupObject = ""
            >
                <Config
                    Name = "Debug"
                    AllowUnsafeBlocks = "false"
                    BaseAddress = "285212672"
                    CheckForOverflowUnderflow = "false"
                    ConfigurationOverrideFile = ""
                    DefineConstants = "DEBUG;TRACE"
                    DocumentationFile = ""
                    DebugSymbols = "true"
                    FileAlignment = "4096"
                    IncrementalBuild = "false"
                    NoStdLib = "false"
                    NoWarn = ""
                    Optimize = "false"
                    OutputPath = '<% if (IncludeWebservice) {Response.Write("bin");} else {Response.Write(@"bin\Debug\");} %>'
                    RegisterForComInterop = "false"
                    RemoveIntegerChecks = "false"
                    TreatWarningsAsErrors = "false"
                    WarningLevel = "4"
                />
                <Config
                    Name = "Release"
                    AllowUnsafeBlocks = "false"
                    BaseAddress = "285212672"
                    CheckForOverflowUnderflow = "false"
                    ConfigurationOverrideFile = ""
                    DefineConstants = "TRACE"
                    DocumentationFile = "<%=fileName%>.xml"
                    DebugSymbols = "false"
                    FileAlignment = "4096"
                    IncrementalBuild = "false"
                    NoStdLib = "false"
                    NoWarn = ""
                    Optimize = "true"
                    OutputPath = '<% if(IncludeWebservice) {Response.Write("bin");} else {Response.Write(@"bin\Release\");} %>'
                    RegisterForComInterop = "false"
                    RemoveIntegerChecks = "false"
                    TreatWarningsAsErrors = "false"
                    WarningLevel = "4"
                />
            </Settings>
            <References>
                <Reference
                    Name = "System"
                    AssemblyName = "System"
                    HintPath = "C:\WINNT\Microsoft.NET\Framework\v1.1.4322\System.dll"
                />
                <Reference
                    Name = "System.Data"
                    AssemblyName = "System.Data"
                    HintPath = "C:\WINNT\Microsoft.NET\Framework\v1.1.4322\System.Data.dll"
                />
                <Reference
                    Name = "System.XML"
                    AssemblyName = "System.Xml"
                    HintPath = "C:\WINNT\Microsoft.NET\Framework\v1.1.4322\System.XML.dll"
                />
                <% if (IncludeDALBase || IncludeSqlClient || IncludeWebserviceClient) {%>
                <Reference
                    Name = "NetTiers.Configuration"
                    AssemblyName = "NetTiers.Configuration"
                    HintPath = "<%=OutputDirectory%>\References\NetTiers.Configuration.dll"
                />
                <Reference
                    Name = "Microsoft.Practices.EnterpriseLibrary.Configuration"
                    AssemblyName = "Microsoft.Practices.EnterpriseLibrary.Configuration"
                    HintPath = "<%=OutputDirectory%>\References\Microsoft.Practices.EnterpriseLibrary.Configuration.dll"
                />
                <Reference
                    Name = "Microsoft.Practices.EnterpriseLibrary.Caching"
                    AssemblyName = "Microsoft.Practices.EnterpriseLibrary.Caching"
                    HintPath = "<%=OutputDirectory%>\References\Microsoft.Practices.EnterpriseLibrary.Caching.dll"
                />                
				<Reference
                    Name = "Microsoft.Practices.EnterpriseLibrary.Data"
                    AssemblyName = "Microsoft.Practices.EnterpriseLibrary.Data"
                    HintPath = "<%=OutputDirectory%>\References\Microsoft.Practices.EnterpriseLibrary.Data.dll"
                />
                <Reference
                    Name = "Microsoft.Practices.EnterpriseLibrary.Common"
                    AssemblyName = "Microsoft.Practices.EnterpriseLibrary.Common"
                    HintPath = "<%=OutputDirectory%>\References\Microsoft.Practices.EnterpriseLibrary.Common.dll"
                />
                <% } %>
                
                <% if (!SingleProject && !IncludeBll) {%>
                <Reference
                    Name = "<%=BLLNameSpace%>"
                    Project = "{<%=BLLGuid%>}"
                    Package = "{FAE04EC0-301F-11D3-BF4B-00C04F79EFBC}"
                />
                <%}%>
				
                
                <% if (!SingleProject && (IncludeSqlClient || IncludeWebserviceClient )) { %>
                <Reference
                    Name = "<%=DALNameSpace%>"
                    Project = "{<%=DALGuid%>}"
                    Package = "{FAE04EC0-301F-11D3-BF4B-00C04F79EFBC}"
                />
                <% } %>
				
				<% if (!SingleProject && IncludeWebservice ) { %>
				<Reference
                    Name = "<%=DALNameSpace%>"
                    Project = "{<%=DALGuid%>}"
                    Package = "{FAE04EC0-301F-11D3-BF4B-00C04F79EFBC}"
                />
				<Reference
                    Name = "<%=DALSqlNameSpace %>"
                    Project = "{<%=DALSqlGuid%>}"
                    Package = "{FAE04EC0-301F-11D3-BF4B-00C04F79EFBC}"
                />
				 <Reference
                    Name = "NetTiers.Configuration"
                    AssemblyName = "NetTiers.Configuration"
                    HintPath = "<%=OutputDirectory%>\References\NetTiers.Configuration.dll"
                />
				<% } %>
                
                <% if (IncludeUnitTest /* TODO check du gac */ ) 
                { %>
                <Reference
                    Name = "nunit.framework"
                    AssemblyName = "nunit.framework"
                    HintPath = "<%=OutputDirectory%>\References\nunit.framework.dll"
                />
                <% if (!SingleProject) { %>                
                 <Reference
                    Name = "<%=DALNameSpace%>"
                    Project = "{<%=DALGuid%>}"
                    Package = "{FAE04EC0-301F-11D3-BF4B-00C04F79EFBC}"
                />
				<Reference
                    Name = "<%=DALSqlNameSpace%>"
                    Project = "{<%=DALSqlGuid%>}"
                    Package = "{FAE04EC0-301F-11D3-BF4B-00C04F79EFBC}"
                />
                 <Reference
                    Name = "NetTiers.Configuration"
                    AssemblyName = "NetTiers.Configuration"
                    HintPath = "<%=OutputDirectory%>\References\NetTiers.Configuration.dll"
                />
                <Reference
                    Name = "Microsoft.Practices.EnterpriseLibrary.Configuration"
                    AssemblyName = "Microsoft.Practices.EnterpriseLibrary.Configuration"
                    HintPath = "<%=OutputDirectory%>\References\Microsoft.Practices.EnterpriseLibrary.Configuration.dll"
                /> 
                <% } // end if !SingleProject %>
                <% } // end if IncludeUnitTest %>
                
                <% if (IncludeWebservice || IncludeWebserviceClient) { %>
				 <Reference
                    Name = "System.Web"
                    AssemblyName = "System.Web"
                    HintPath = "C:\WINNT\Microsoft.NET\Framework\v1.1.4322\System.Web.dll"
                />
                <Reference
                    Name = "System.Web.Services"
                    AssemblyName = "System.Web.Services"
                    HintPath = "C:\WINNT\Microsoft.NET\Framework\v1.1.4322\System.Web.Services.dll"
                />
                <% } %>
                
            </References>
        </Build>

		<Files>
            <Include>			
		<%	
			// Loop on each view
			for (int i = 0; i < SourceViews.Count; i++)
			{				
				if (IncludeBll)
				{%>
					<File
						RelPath = "<%=BLLSubFolder%>Views\<%=GetClassName(SourceViews[i].Name)%>.cs"
						SubType = "Code"
						BuildAction = "Compile"
					/>
					<File
						RelPath = "<%=BLLSubFolder%>Views\<%=GetAbstractClassName(SourceViews[i].Name)%>.cs"
						DependentUpon = "<%=GetClassName(SourceViews[i].Name)%>.cs"
						SubType = "Code"
						BuildAction = "Compile"
					/>				
					<File
						RelPath = "<%=BLLSubFolder%>Views\<%=GetCollectionClassName(SourceViews[i].Name)%>.cs"
						SubType = "Code"
						BuildAction = "Compile"
					/>
					<File
						RelPath = "<%=BLLSubFolder%>Views\<%=GetAbstractCollectionClassName(SourceViews[i].Name)%>.cs"
						DependentUpon = "<%=GetCollectionClassName(SourceViews[i].Name)%>.cs"
						SubType = "Code"
						BuildAction = "Compile"
					/>
				<%} // endif includeBll
				
				if (IncludeDALBase)
				{%>
					<File
						RelPath = "<%=DALSubFolder%>Bases\Views\<%=GetProviderBaseName(SourceViews[i].Name)%>.cs"
						SubType = "Code"
						BuildAction = "Compile"
					/>
				<%}
				
				if (IncludeSqlClient)
				{%>					
					<File
						RelPath = "<%=SqlClientSubFolder%>Views\Sql<%=GetProviderName(SourceViews[i].Name)%>.cs"
						SubType = "Code"
						BuildAction = "Compile"
					/>
					<File
						RelPath = "<%=SqlClientSubFolder%>Views\Sql<%=GetProviderBaseName(SourceViews[i].Name)%>.cs"
						DependentUpon = "Sql<%=GetProviderName(SourceViews[i].Name)%>.cs"
						SubType = "Code"
						BuildAction = "Compile"
					/>
				<%}								
								
				if (IncludeWebserviceClient)
				{%>
					<File
						RelPath = "<%=WSClientSubFolder%>Views\Ws<%=GetProviderName(SourceViews[i].Name)%>.cs"
						SubType = "Code"
						BuildAction = "Compile"
					/>
					<File
						RelPath = "<%=WSClientSubFolder%>Views\Ws<%=GetProviderBaseName(SourceViews[i].Name)%>.cs"
						DependentUpon = "Ws<%=GetProviderName(SourceViews[i].Name)%>.cs"
						SubType = "Code"
						BuildAction = "Compile"
					/>
				<%}
				
				if ( IncludeUnitTest) { %>
					<File
						RelPath = "<%=UTSubFolder%>Views\<%=GetRepositoryTestClassName(SourceViews[i].Name)%>.cs"
						SubType = "Code"
						BuildAction = "Compile"
					/>				
				<%}	// endif IncludeUnitTest
			}
									
			
			// Loop on each table
			for (int i = 0; i < SourceTables.Count; i++)
			{				
				if (IncludeBll)
				{%>
					<File
						RelPath = "<%=BLLSubFolder%><%=GetStructName(SourceTables[i].Name)%>.cs"
						SubType = "Code"
						BuildAction = "Compile"
					/>
					<File
						RelPath = "<%=BLLSubFolder%><%=GetClassName(SourceTables[i].Name)%>.cs"
						SubType = "Code"
						BuildAction = "Compile"
					/>
					<File
						RelPath = "<%=BLLSubFolder%><%=GetAbstractClassName(SourceTables[i].Name)%>.cs"
						DependentUpon = "<%=GetClassName(SourceTables[i].Name)%>.cs"
						SubType = "Code"
						BuildAction = "Compile"
					/>				
					<File
						RelPath = "<%=BLLSubFolder%><%=GetCollectionClassName(SourceTables[i].Name)%>.cs"
						SubType = "Code"
						BuildAction = "Compile"
					/>
					<File
						RelPath = "<%=BLLSubFolder%><%=GetAbstractCollectionClassName(SourceTables[i].Name)%>.cs"
						DependentUpon = "<%=GetCollectionClassName(SourceTables[i].Name)%>.cs"
						SubType = "Code"
						BuildAction = "Compile"
					/>
					
					<% if (EnumTables.Contains(SourceTables[i])) { %>
					<File
						RelPath = "<%=BLLSubFolder%><%=GetEnumName(SourceTables[i].Name) %>.cs"
						SubType = "Code"
						BuildAction = "Compile"
					/>
					<% } %>
					
				<%} // endif includeBll
				
				
				if (IncludeDALBase)
				{%>
					<File
						RelPath = "<%=DALSubFolder%>Bases\<%=GetProviderBaseName(SourceTables[i].Name)%>.cs"
						SubType = "Code"
						BuildAction = "Compile"
					/>
				<%}
				
				
				if (IncludeSqlClient)
				{%>					
					<File
						RelPath = "<%=SqlClientSubFolder%>Sql<%=GetProviderName(SourceTables[i].Name)%>.cs"
						SubType = "Code"
						BuildAction = "Compile"
					/>
					
					<File
						RelPath = "<%=SqlClientSubFolder%>Sql<%=GetProviderBaseName(SourceTables[i].Name)%>.cs"
						DependentUpon = "Sql<%=GetRepositoryClassName(SourceTables[i].Name)%>.cs"
						SubType = "Code"
						BuildAction = "Compile"
					/>					
										
				<%} // endif includeSqlClient
				
				if ( IncludeUnitTest && !IsJunctionTable(SourceTables[i])) { %>
					<File
						RelPath = "<%=UTSubFolder%><%=GetRepositoryTestClassName(SourceTables[i].Name)%>.cs"
						SubType = "Code"
						BuildAction = "Compile"
					/>				
				<%}	// endif IncludeUnitTest
						
				if (IncludeWebserviceClient)
				{%>
					<File
						RelPath = "<%=WSClientSubFolder%>Ws<%=GetProviderName(SourceTables[i].Name)%>.cs"
						SubType = "Code"
						BuildAction = "Compile"
					/>
					<File
						RelPath = "<%=WSClientSubFolder%>Ws<%=GetProviderBaseName(SourceTables[i].Name)%>.cs"
						DependentUpon = "Ws<%=GetProviderName(SourceTables[i].Name)%>.cs"
						SubType = "Code"
						BuildAction = "Compile"
					/> 
				<%}	// endif IncludeWebservice
			}// endfor SourceTables.Count
			
		%>
			<% /* add the version info to every project, through a linked file */ %>
				<File
                    RelPath = "AssemblyInfo.cs"
                    <%if (SingleProject || IncludeWebservice) {%>SubType = "Code"<%}else {%>Link = "<%=OutputDirectory%>\AssemblyInfo.cs"<%}%>
                    BuildAction = "Compile"
                />		
		
				<% /* Include the IEntity interface. */ %>
				<% if (IncludeBll) { %>
										
					<File
						RelPath = "<%=BLLSubFolder%>IEntity.cs"
						SubType = "Code"
						BuildAction = "Compile"
					/>
					<File
						RelPath = "<%=BLLSubFolder%>Filter.cs"
						SubType = "Code"
						BuildAction = "Compile"
					/>
					<File
						RelPath = "<%=BLLSubFolder%>EntityPropertyComparer.cs"
						SubType = "Code"
						BuildAction = "Compile"
					/>
					<File
						RelPath = "<%=BLLSubFolder%>EntityHelper.cs"
						SubType = "Code"
						BuildAction = "Compile"
					/>
					<File
						RelPath = "<%=BLLSubFolder%>GenericTypeConverter.cs"
						SubType = "Code"
						BuildAction = "Compile"
					/>								
				<% } %>
				<%/* If SqlCLient is wanted, include the sql Utilities classes */ %>
				
				<% if (IncludeDALBase)
				{%>
					<File
	                    RelPath = "<%=DALSubFolder%>DataRepository.cs"
	                    SubType = "Code"
	                    BuildAction = "Compile"
	                />
	                <File
	                    RelPath = "<%=DALSubFolder%>Bases\DataProviderBase.cs"
	                    SubType = "Code"
	                    BuildAction = "Compile"
	                />
	                <File
	                    RelPath = "<%=DALSubFolder%>Configuration.cs"
	                    SubType = "Code"
	                    BuildAction = "Compile"
	                />
	                <File
						RelPath = "<%=DALSubFolder%>Utility.cs"
						SubType = "Code"
						BuildAction = "Compile"
					/>
					<File
						RelPath = "<%=DALSubFolder%>TransactionManager.cs"
						SubType = "Code"
						BuildAction = "Compile"
					/>
				<%}%>
				
				<% if (IncludeSqlClient) {%>
	                <File
	                    RelPath = "<%=SqlClientSubFolder%>SqlDataProvider.cs"
	                    SubType = "Code"
	                    BuildAction = "Compile"
	                />
	                <File
	                    RelPath = "<%=SqlClientSubFolder%>SqlDataRepository.cs"
	                    SubType = "Code"
	                    BuildAction = "Compile"
	                />	
	                	               
					<File
                    	RelPath = "<%=SqlClientSubFolder%>Procedures.xml"
                    	BuildAction = "EmbeddedResource"
                	/>
                						
					<File
						RelPath = "<%=SqlClientSubFolder%>StoredProcedureProvider.cs"
						SubType = "Code"
						BuildAction = "Compile"
					/>
					
				<%}%>
				<% if (IncludeUnitTest || IncludeWebservice) {%>
					<File
	                    RelPath = "<% if (!SingleProject && IncludeUnitTest) {Response.Write(UTNameSpace + ".dll.config");} else if (!SingleProject && IncludeWebservice) {Response.Write("Web.config");} else Response.Write(NameSpace + ".dll.config");%>"
	                    BuildAction = "None"
	                />
	                <File
	                    RelPath = "cachingConfiguration.config"
	                    BuildAction = "None"
	                />
	                <File
	                    RelPath = "dataconfiguration.config"
	                    BuildAction = "None"
	                />
	                <File
	                    RelPath = "nettiersconfigdata.config"
	                    BuildAction = "None"
	                />
                <%}%>
                <%/* If WebService CLient is wanted, include the web references files */ %>
                <% if (IncludeWebserviceClient) { %>
                	<File
	                    RelPath = "<%=WSClientSubFolder%>WsDataProvider.cs"
	                    SubType = "Code"
	                    BuildAction = "Compile"
	                />
	                <!--<File
	                    RelPath = "<%=WSClientSubFolder%>WsDataRepository.cs"
	                    SubType = "Code"
	                    BuildAction = "Compile"
	                />-->
	                <File
	                    RelPath = "Web References\WsProxy\<%=GetClassName(SourceDatabase.Name)%>Services.disco"
	                    BuildAction = "None"
	                />
	                <File
	                    RelPath = "Web References\WsProxy\<%=GetClassName(SourceDatabase.Name)%>Services.wsdl"
	                    BuildAction = "None"
	                />
	                <File
	                    RelPath = "Web References\WsProxy\results.discomap"
	                    BuildAction = "None"
	                    Generator = "MSDiscoCodeGenerator"
	                    LastGenOutput = "Reference.cs"
	                />
	                <File
	                    RelPath = "Web References\WsProxy\Reference.cs"
	                    DependentUpon = "results.discomap"
	                    SubType = "code"
	                    BuildAction = "Compile"
	                    DesignTime = "True"
	                    AutoGen = "True"
	                />
	                <Folder
	                    RelPath = "Web References\WsProxy\"
	                    WebReferenceUrl = "<%=WebServiceUrl%><%=GetClassName(SourceDatabase.Name) + "Services.asmx"%>"
	                    UrlBehavior = "Static"
	                />
	                <Folder
	                    RelPath = "Web References\"
	                    WebReferences = "TRUE"
	                />
                <% } %>
				
				<% /* WebService files */ %>
				<% if (IncludeWebservice) { %>
					<File
	                    RelPath = "<%=GetClassName(SourceDatabase.Name) + "Services.asmx"%>"
	                    SubType = "Form"
                    	BuildAction = "Content"
	                />
				<% } %>
			</Include>
        </Files>
    </CSHARP>
</VisualStudioProject>
