<%--
 * $Id: IEntity.cst,v 1.13 2006/02/27 22:09:40 bgjohnso Exp $
 * Last modified by $Author: bgjohnso $
 * Last modified at $Date: 2006/02/27 22:09:40 $
 * $Revision: 1.13 $
--%>
<%@ CodeTemplate Src="..\TemplateLib\CommonSqlCode.cs" Inherits="MoM.Templates.CommonSqlCode" ResponseEncoding="UTF-8" Language="C#" TargetLanguage="C#" Description="The interface that each business object of the domain implements." NoWarn="0108,0618,1572,1573,1574,0162,2002"%>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Assembly Name="System.Design" %>

<%@ Property Name="NameSpace" Optional="False" Type="System.String" Category="Style" Description="Object Namespace." %>
<%@ Assembly Name="SchemaExplorer" %>

using System;
using System.ComponentModel;

namespace <%=NameSpace%>
{
	/// <summary>
	/// The interface that each component business object of the model implements.
	/// </summary>
	public interface IComponentEntity
	{
		/*
		/// <summary>
		///	Provides a List of Processors to execute business process logic in.
		/// </summary>
		///<value>A list of business rule processors to execute</value>
		//IList<IProcessor> ProcessorList {get; set;}

		/// <summary>
		///	Provides the entity locator key.
		/// </summary>
		///<value>string key</value>
		//string EntityLocatorId{get;}
		*/
	}
}
