<%--
 * $Id: ValidationRuleHandler.cst,v 1.2 2006/02/18 00:02:16 bgjohnso Exp $
 * Last modified by $Author: jroland $
 * Last modified at $Date: 2006-03-16 16:53:08 -0600 (Thu, 16 Mar 2006) $
 * $Revision: 62 $
--%>
<%@ CodeTemplate Src="..\..\TemplateLib\CommonSqlCode.cs" Inherits="MoM.Templates.CommonSqlCode" Language="C#" TargetLanguage="C#" Description="BrokenRule class for validation." ResponseEncoding="UTF-8" NoWarn="0108,0618,1572,1573,1574,0162,2002"%>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Assembly Name="System.Design" %>

<%@ Property Name="NameSpace" Optional="False" Type="System.String" Category="Style" Description="Object Namespace." %>
<%@ Assembly Name="SchemaExplorer" %>
using System;
using System.Collections.Generic;
using System.Text;

namespace <%=NameSpace%>.Validation
{
   /// <summary>
   /// Delegate providing the signature of all methods that will process validation rules.
   /// </summary>
   /// <remarks>
   /// <para>
   /// The method handler should set the Description attribute of the 
   /// <see cref="ValidationRuleArgs"/> parameter so that a meaningful
   /// error is returned.
   /// </para><para>
   /// If the data is valid, the method must return true.  If the data is invalid,
   /// the Description should be set the false should be returned.
   /// </para>
   /// </remarks>
   public delegate bool ValidationRuleHandler(object target, ValidationRuleArgs e);
   
}