<%--
 * $Id: vsnet2005.solution.cst,v 1.3 2005/11/21 22:16:08 jroland Exp $
 * Last modified by $Author: jroland $
 * Last modified at $Date: 2005/11/21 22:16:08 $
 * $Revision: 1.3 $
--%><%@ CodeTemplate Language="c#" TargetLanguage="c#" Debug="True" Description="" %>
<%@ Property Name="BLLNameSpace" Type="System.String" Category="Data" Description="Entities Namespace." %>
<%@ Property Name="DALNameSpace" Type="System.String" Category="Data" Description="DAL Namespace." %>
<%@ Property Name="DALSqlNameSpace" Type="System.String" Category="Data" Description="DAL sql Namespace." %>
<%@ Property Name="DALWSNameSpace" Type="System.String" Category="Data" Description="DAL ws Namespace." %>
<%@ Property Name="UTNameSpace" Type="System.String" Category="Data" Description="UT Namespace." %>
<%@ Property Name="BLLGuid" Type="System.String" Category="Context" Description="BLL Project Guid" %>
<%@ Property Name="DALGuid" Type="System.String" Category="Context" Description="DAL Project Guid" %>
<%@ Property Name="DALSqlGuid" Type="System.String" Category="Style" Description="DAL Project Guid" %>
<%@ Property Name="DALWSGuid" Type="System.String" Category="Style" Description="DAL Project Guid" %>
<%@ Property Name="WSGuid" Type="System.String" Category="Context" Description="WS Project Guid" %>
<%@ Property Name="UTGuid" Type="System.String" Category="Context" Description="Unit tests Project Guid" %>
<%@ Property Name="IncludeUnitTest" Type="System.Boolean" Category="General" Description="" Default="true" %>
<%@ Property Name="IncludeSqlClient" Type="System.Boolean" Category="Option" Description="" %>
<%@ Property Name="IncludeWebservice" Type="System.Boolean" Category="Option" Description="" %>
<%@ Property Name="IncludeWebserviceClient" Type="System.Boolean" Category="Option" Description="" %>
<%@ Property Name="SingleProject" Type="System.Boolean" Default="true" Category="General" Description="Indicates whether the project contains only one tier." %>
<%@ Property Name="WebServiceUrl" Type="System.String" Category="WebService" Description="The webservice base URL. The asmx filename will be added programmatically." Default="http://localhost/Services/" %>
<%@ Property Name="rootPathWS" Type="System.String" Category="WebService" Description="The folder where the webservice code is generated." Default="" %>
Microsoft Visual Studio Solution File, Format Version 9.00
# Visual Studio 2005
<% if (!SingleProject) {%>
Project("{FAE04EC0-301F-11D3-BF4B-00C04F79EFBC}") = "<%=BLLNameSpace%>", "<%=BLLNameSpace%>\<%=BLLNameSpace%>.csproj", "{<%=BLLGuid%>}"
EndProject
Project("{FAE04EC0-301F-11D3-BF4B-00C04F79EFBC}") = "<%=DALNameSpace%>", "<%=DALNameSpace%>\<%=DALNameSpace%>.csproj", "{<%=DALGuid%>}"
EndProject
<% if (IncludeSqlClient) { %>
Project("{FAE04EC0-301F-11D3-BF4B-00C04F79EFBC}") = "<%=DALSqlNameSpace%>", "<%=DALSqlNameSpace%>\<%=DALSqlNameSpace%>.csproj", "{<%=DALSqlGuid%>}"
EndProject
<% } %>
<% if (IncludeWebserviceClient) { %>
Project("{FAE04EC0-301F-11D3-BF4B-00C04F79EFBC}") = "<%=DALWSNameSpace%>", "<%=DALWSNameSpace%>\<%=DALWSNameSpace%>.csproj", "{<%=DALWSGuid%>}"
EndProject
<% } %>
<% if (IncludeWebservice) { %>
Project("{FAE04EC0-301F-11D3-BF4B-00C04F79EFBC}") = "<%=WebServiceUrl%>", "<%=WebServiceUrl%>", "{<%=WSGuid%>}"
	ProjectSection(WebsiteProperties) = preProject
		ProjectReferences = "{<%=BLLGuid%>}|<%=BLLNameSpace%>.dll;{<%=DALGuid%>}|<%=DALNameSpace%>.dll;{<%=DALSqlGuid%>}|<%=DALSqlNameSpace%>"
		Debug.AspNetCompiler.PhysicalPath = "<%=rootPathWS%>"
		Debug.AspNetCompiler.TargetPath = "<%=WebServiceUrl%>"
		Debug.AspNetCompiler.Updateable = "true"
		Debug.AspNetCompiler.ForceOverwrite = "true"
		Debug.AspNetCompiler.FixedNames = "false"
		Debug.AspNetCompiler.Debug = "True"
		Release.AspNetCompiler.PhysicalPath = "<%=rootPathWS%>"
		Release.AspNetCompiler.TargetPath = "<%=WebServiceUrl%>"
		Release.AspNetCompiler.Updateable = "true"
		Release.AspNetCompiler.ForceOverwrite = "true"
		Release.AspNetCompiler.FixedNames = "false"
		Release.AspNetCompiler.Debug = "False"
		DefaultWebSiteLanguage = "Visual C#"
	EndProjectSection
EndProject
<% } %>
<% if (IncludeUnitTest) { %>
Project("{FAE04EC0-301F-11D3-BF4B-00C04F79EFBC}") = "<%=UTNameSpace%>", "<%=UTNameSpace%>\<%=UTNameSpace%>.csproj", "{<%=UTGuid%>}"
EndProject
<% } %>
<%} else {%>
Project("{FAE04EC0-301F-11D3-BF4B-00C04F79EFBC}") = "<%=BLLNameSpace%>", "<%=BLLNameSpace%>.csproj", "{<%=BLLGuid%>}"
EndProject
<%}%>
Global
	GlobalSection(SolutionConfigurationPlatforms) = preSolution
		Debug|Any CPU = Debug|Any CPU
		Release|Any CPU = Release|Any CPU
	EndGlobalSection
	GlobalSection(ProjectConfigurationPlatforms) = postSolution
		{<%=BLLGuid%>}.Debug|Any CPU.ActiveCfg = Debug|Any CPU
		{<%=BLLGuid%>}.Debug|Any CPU.Build.0 = Debug|Any CPU
		{<%=BLLGuid%>}.Release|Any CPU.ActiveCfg = Release|Any CPU
		{<%=BLLGuid%>}.Release|Any CPU.Build.0 = Release|Any CPU
	<% if (!SingleProject) {%>
		{<%=DALGuid%>}.Debug|Any CPU.ActiveCfg = Debug|Any CPU
		{<%=DALGuid%>}.Debug|Any CPU.Build.0 = Debug|Any CPU
		{<%=DALGuid%>}.Release|Any CPU.ActiveCfg = Release|Any CPU
		{<%=DALGuid%>}.Release|Any CPU.Build.0 = Release|Any CPU
		<% if (IncludeSqlClient) { %>
		{<%=DALSqlGuid%>}.Debug|Any CPU.ActiveCfg = Debug|Any CPU
		{<%=DALSqlGuid%>}.Debug|Any CPU.Build.0 = Debug|Any CPU
		{<%=DALSqlGuid%>}.Release|Any CPU.ActiveCfg = Release|Any CPU
		{<%=DALSqlGuid%>}.Release|Any CPU.Build.0 = Release|Any CPU
		<%}%>
		<% if (IncludeWebserviceClient) { %>
		{<%=DALWSGuid%>}.Debug|Any CPU.ActiveCfg = Debug|Any CPU
		{<%=DALWSGuid%>}.Debug|Any CPU.Build.0 = Debug|Any CPU
		{<%=DALWSGuid%>}.Release|Any CPU.ActiveCfg = Release|Any CPU
		{<%=DALWSGuid%>}.Release|Any CPU.Build.0 = Release|Any CPU
		<%}%>
		<% if (IncludeWebservice) { %>
		{<%=WSGuid%>}.Debug|Any CPU.ActiveCfg = Debug|Any CPU
		{<%=WSGuid%>}.Debug|Any CPU.Build.0 = Debug|Any CPU
		{<%=WSGuid%>}.Release|Any CPU.ActiveCfg = Release|Any CPU
		{<%=WSGuid%>}.Release|Any CPU.Build.0 = Release|Any CPU
		<%}%>
		<% if (IncludeUnitTest) { %>
		{<%=UTGuid%>}.Debug|Any CPU.ActiveCfg = Debug|Any CPU
		{<%=UTGuid%>}.Debug|Any CPU.Build.0 = Debug|Any CPU
		{<%=UTGuid%>}.Release|Any CPU.ActiveCfg = Release|Any CPU
		{<%=UTGuid%>}.Release|Any CPU.Build.0 = Release|Any CPU
		<%}%>
	<%}%>        
	EndGlobalSection
	GlobalSection(SolutionProperties) = preSolution
		HideSolutionNode = FALSE
	EndGlobalSection
EndGlobal