<%--
 * $Id: Enum.cst,v 1.2 2005/12/03 12:34:49 jroland Exp $
 * Last modified by $Author: jroland $
 * Last modified at $Date: 2005/12/03 12:34:49 $
 * $Revision: 1.2 $
--%>
<%@ CodeTemplate Src="..\CommonSqlCode.cs" Inherits="MoM.Templates.CommonSqlCode" Language="C#" TargetLanguage="C#" Description="Template description here." Debug="False"%>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.Data" %>
<%@ Assembly Name="System.Design" %>

<%@ Property Name="NameSpace" Optional="True" Type="System.String" Category="Style" Description="Object Namespace." %>
<%@ Property Name="SourceTable" Type="SchemaExplorer.TableSchema" Category="Connection" Description="Table Object should be based on." %>

using System;

namespace <%=NameSpace%>
{
	///<summary>
	/// <%=SourceTable.Description%>
	///</summary>
	/// <remark>this enumeration contains the items contained in the table <%=SourceTable.Name%></remark>
	[Serializable]
	public enum <%=GetEnumName(SourceTable.Name)%>
	{
	<%
		DataTable datas = SourceTable.GetTableData();
		for(int i=0; i<datas.Rows.Count; i++)
		{
			DataRow row = datas.Rows[i];
			if (datas.Columns.Count > 2)
			{
				Response.Write("\t\t/// <summary> {0}", Environment.NewLine);
				Response.Write("\t\t/// {0}{1}", row[2], Environment.NewLine);
				Response.Write("\t\t/// </summary>{0}", Environment.NewLine);
			}
			Response.Write("\t\t{0} = {1}{2}{3}{3}", row[1].ToString().Trim().Replace(" ", "_").Replace("-", "_"), row[0], i<datas.Rows.Count-1 ? ", " : string.Empty, Environment.NewLine);
		}
	%>
	}
}