<%@ CodeTemplate Language="C#" TargetLanguage="Text" Description="" Debug="True" ResponseEncoding="UTF-8" NoWarn="0108,0618,1572,1573,1574,0162,2002"%>
<%@ Property Name="WebsiteNameSpace" Type="System.String" Category="Data" Description="Website Namespace." %>
<%@ Property Name="WebAdminSiteName" Type="System.String" Default="Application Admin" Category="06b. Website - Advanced" Description="Indicates the web admin site name." %>
<%@ Property Name="IncludeAtlasLibrary" Type="System.Boolean" Default="false" Category="06b. Website - Advanced" Description="Indicates whether to include a reference to the Atlas component library." %>
<%@ Property Name="CompanyName" Optional="True" Type="System.String" Category="04. General - Advanced" Description="The name of your company. This is only for documenation." %>
<%@ Property Name="CompanyURL" Optional="True" Type="System.String" Category="04. General - Advanced" Description="The URL of your company. This is only for documenation." %>

<script runat="template">
	private string _companyName1 = "CompanyName";
	private string _companyURL1 = "~/";	
	
	private string CompanyName1 {
		get {
			if (string.IsNullOrEmpty(CompanyName))
				return _companyName1;
			else
				return CompanyName;
		}
	}
	
	private string CompanyURL1 {
		get {
			if (string.IsNullOrEmpty(CompanyURL)) {
				return _companyURL1;
			}
			else {
				if (CompanyURL.Trim().IndexOf("http://") >= 0)
					return CompanyURL;		
				else
					return string.Format("http://{0}", CompanyURL);
			}
		}
	}
	

</script>	
<%%@ Master Language="C#" %%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- layout by 404 creative studios. http://www.404creative.com -->
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
<title><%=WebsiteNameSpace%></title>
	<script type="text/javascript" language="javascript" src="../Common/Calendar/CalendarControl.js"></script>
	<link type="text/css" href="~/Common/Calendar/CalendarControl.css" rel="stylesheet"/>    
</head>
<body>
<form id="form1" runat="server">
<% if (IncludeAtlasLibrary) { %>
<asp:ScriptManager ID="scriptmanager1" EnablePartialRendering="true" runat="Server" />
<% } %>
<table width="100%" summary="Page Layout Container"> 
    <tr> 
        <td>
	<!-- begin top rounded corner styles -->
	<b class="rtop"><b class="r1"></b><b class="r2"></b> <b class="r3"></b> <b class="r4"></b></b>
	<!-- end top rounded corner styles -->
	<div id="pageHeader"><%=WebAdminSiteName%></div>
	<div id="divPageContent">
		<table border="0" cellpadding="5" cellspacing="0" summary="Page Content">
			<tr>
			<td valign="top" class="leftColumn">
				<div id="navcontainer">
					<ul id="navlist">                                    
						<asp:Repeater ID="Repeater1" DataSourceID="SiteMapDataSource1" EnableViewState="false" runat="server">
							<ItemTemplate>
								<li>
									<a href='<%%#Eval("url") %%>'><%%#Eval("Title") %%></a>                                            
									<asp:Repeater ID="Repeater2" DataSource='<%%#Eval("ChildNodes")%%>' Visible='<%%#Eval("HasChildNodes")%>' runat="server">
										<HeaderTemplate><ul></HeaderTemplate>
										<ItemTemplate>
											<li><a href='<%%#Eval("url") %%>'><%%#Eval("Title") %%></a></li>
										</ItemTemplate>
										<FooterTemplate></ul></FooterTemplate>
									</asp:Repeater>
								</li>
							</ItemTemplate>
						</asp:Repeater>
					</ul>
				</div>
				<asp:SiteMapDataSource ID="SiteMapDataSource1" ShowStartingNode="false" runat="server" />
			</td>
			<td valign="top" class="rightColumn">
				<h2>
				    <asp:SiteMapPath runat="server" ID="SiteMapPath1"></asp:SiteMapPath>
				</h2>
				<p class="subHeader">
				<asp:contentplaceholder id="ContentPlaceHolder2" runat="server"></asp:contentplaceholder>
				</p>
				<p>
				    <asp:contentplaceholder id="ContentPlaceHolder1" runat="server"></asp:contentplaceholder>
				</p>
			</td>
			</tr>
		</table>
	</div>
	<div id="divBaseLinks">
	    &copy <%=DateTime.Now.Year%> Copyright - <asp:HyperLink runat="server" ID="Hyperlink1" NavigateUrl="<%=CompanyURL1%>" Text="<%=CompanyName1%>"></asp:HyperLink>
	 </div>
	<!-- begin bottom rounded corner styles -->
	<b class="rbottom"><b class="r4"></b> <b class="r3"></b> <b class="r2"></b> <b class="r1"></b></b>
	<!-- end bottom rounded corner styles -->
	</td>
    </tr>
</table>
<div class="spacer">&nbsp;</div>
</form>
</body>
</html>
