<%@ CodeTemplate Language="C#" TargetLanguage="C#" Src="..\..\CommonSqlCode.cs" Inherits="MoM.Templates.CommonSqlCode" Debug="False" Description="Generates the ReadOnlyDataSourceDesigner type." %>
<%@ Property Name="BLLNameSpace" Optional="False" Type="System.String" Category="Style" Description="Object Namespace." %>
<%@ Property Name="DALNameSpace" Optional="False" Type="System.String" Category="Style" Description="DAL Namespace." %>
<%@ Property Name="WebNameSpace" Optional="False" Type="System.String" Category="Style" Description="Web Namespace." %>
#region Using Directives
using System;
#endregion

namespace <%= WebNameSpace %>.Data
{
	/// <summary>
	/// Provides design-time support in a design host for the ReadOnlyDataSource class.
	/// </summary>
	/// <typeparam name="Entity">The class of the business object being accessed.</typeparam>
	[Serializable]
	[CLSCompliant(true)]
	public class ReadOnlyDataSourceDesigner<Entity> : BaseDataSourceDesigner<Entity, Object>
		where Entity : new()
	{
		/// <summary>
		/// Initializes a new instance of the ReadOnlyDataSourceDesigner class.
		/// </summary>
		public ReadOnlyDataSourceDesigner()
		{
		}
	}
}
